In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\vkvar\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\vkvar\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\vkvar\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\vkvar\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\vkvar\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\vkvar\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\vkvar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\vkvar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\vkvar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\vkvar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\vkvar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\vkvar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\vkvar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\vkvar\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\vkvar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\vkvar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium .webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome()
driver.get("https://www.naukri.com/")

In [4]:
designation=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[1]/div/div/div/div[1]/div/input")
designation.send_keys("Data Scientist")

In [5]:
Location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input " )
Location.send_keys('Delhi/NCR')

In [6]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[6]" )
search.click()

In [7]:
Salary=driver.find_element(By.XPATH,'//*[@id="search-result-container"]/div[1]/div[1]/div/div/div[2]/div[5]/div[2]/div[2]/label/i')
Salary.click()

In [8]:
job_title=[]
job_location=[]
job_experience=[]
Company=[]

In [9]:
Job_Title=driver.find_elements(By.XPATH,'//div[@class="srp-jobtuple-wrapper"]/div/div[1]/a')
Job_Title
for i in Job_Title[0:10]:
    Title=i.text
    job_title.append(Title)
print(job_title)

['Data Scientist HTHD', 'Data Scientist', 'Data Scientist', 'Data Scientist II', 'Lead Data Scientist', 'Data Scientist', 'Lead Customer Success - Data Scientist', 'Fullstack Data Scientist', 'Data Scientist', 'Data Scientist']

In [10]:
location=driver.find_elements(By.XPATH,'//div[@class="srp-jobtuple-wrapper"]/div/div[3]/div/span[3]')
for i in location[0:10]:
    Title=i.text
    job_location.append(Title)
print(job_location)

['Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Mumbai, Hyderabad, Gurugram', 'Gurugram, Bengaluru', 'Greater Noida, Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru', 'Pune, Gurugram', 'Mumbai, Gurugram, Bengaluru', 'Noida', 'Noida']

In [11]:
Experience=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in Experience[0:10]:
    Title=i.text
    job_experience.append(Title)
print(job_experience)

['1-4 Yrs', '3-6 Yrs', '3-7 Yrs', '3-6 Yrs', '3-7 Yrs', '1-3 Yrs', '2-4 Yrs', '3-6 Yrs', '2-7 Yrs', '3-8 Yrs']

In [12]:
job_company=driver.find_elements(By.XPATH, '//a[@class=" comp-name mw-25"]')
for i in job_company[0:10]:
    Title=i.text
    Company.append(Title)
print(Company)

['Ford', 'Deloitte', 'Blackbuck', 'Honeywell', 'Fort Technologies', 'ZS Associates', 'Course5 Intelligence', 'Innovaccer', 'Times Internet', 'The Scholar']

In [13]:
print(len(job_title),len(job_location),len(Company),len(job_experience))

10 10 10 10

In [14]:
df=pd.DataFrame({'Designation':job_title,'Location':job_location,'Company':Company,'Experience':job_experience})
df

,Designation,Location,Company,Experience
0,Data Scientist HTHD,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Ford,1-4 Yrs
1,Data Scientist,"Mumbai, Hyderabad, Gurugram",Deloitte,3-6 Yrs
2,Data Scientist,"Gurugram, Bengaluru",Blackbuck,3-7 Yrs
3,Data Scientist II,"Greater Noida, Bengaluru",Honeywell,3-6 Yrs
4,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Fort Technologies,3-7 Yrs
5,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",ZS Associates,1-3 Yrs
6,Lead Customer Success - Data Scientist,"Pune, Gurugram",Course5 Intelligence,2-4 Yrs
7,Fullstack Data Scientist,"Mumbai, Gurugram, Bengaluru",Innovaccer,3-6 Yrs
8,Data Scientist,Noida,Times Internet,2-7 Yrs
9,Data Scientist,Noida,The Scholar,3-8 Yrs

In [15]:
driver=webdriver.Chrome()
driver.get("https://www.shine.com/")

In [18]:
designation=driver.find_element(By.XPATH, "/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys("Data Analyst")

In [19]:
Location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input " )
Location.send_keys('Bangalore')

In [20]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button" )
search.click()

In [21]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [22]:
Title=driver.find_elements(By.XPATH,'//div[@class="parentClass position-relative"]/div/div[1]/div[1]/h2/a')
for i in Title[0:10]:
    title=i.text
    job_title.append(title)
print(job_title)

['Data Analyst', 'Clinical Data Analyst', 'Data Analyst', 'Hiring For Data Analyst', 'Clinical Data Analyst', 'Lead Data Analyst', 'Data Analyst', 'Technical Data Architect', 'Oracle Utilities (customer care & Billing) CC&B Busines ...', 'Clinical Data Associate']

In [23]:
Location=driver.find_elements(By.XPATH,'//div[@class="parentClass position-relative"]/div/div[1]/div[1]/div[3]/div[2]')
for i in Location[0:10]:
    location=i.text
    job_location.append(location)
print(job_location)

['Bangalore\n+9', 'Bangalore\n+6', 'Bangalore\n+9', 'Bangalore\n+12', 'Bangalore\n+6', 'Bangalore', 'Bangalore\n+3', 'Bangalore', 'Bangalore\n+2', 'Bangalore\n+6']

In [24]:
Company=driver.find_elements(By.XPATH,'//div[@class="parentClass position-relative"]/div/div[1]/div[1]/div[2]/span')
for i in Company[0:10]:
    company=i.text
    company_name.append(company)
print(company_name)

['sahast sales corporation', 'techno endura', 'sahast sales corporation', 'radhika enterprises', 'techno endura', 'ara resources private limited', 'diraa hr services hiring for mncs', 'uprighthc solutions private limited', 'ltimindtree limited', 'techno endura']

In [25]:
Experience=driver.find_elements(By.XPATH,'//div[@class="parentClass position-relative"]/div/div[1]/div[1]/div[3]/div[1]')
for i in Experience[0:10]:
    exp=i.text
    experience_required.append(exp)
print(experience_required)

['12 to 22 Yrs', '0 to 1 Yr', '12 to 22 Yrs', '0 to 4 Yrs', '0 to 1 Yr', '4 to 9 Yrs', '0 to 1 Yr', '10 to 20 Yrs', '5 to 9 Yrs', '0 to 1 Yr']

In [26]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [27]:
df=pd.DataFrame({'Designation':job_title,'Location':job_location,'Company':company_name,'Experience':experience_required})
df

,Designation,Location,Company,Experience
0,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
1,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
2,Data Analyst,Bangalore\n+9,sahast sales corporation,12 to 22 Yrs
3,Hiring For Data Analyst,Bangalore\n+12,radhika enterprises,0 to 4 Yrs
4,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
5,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
6,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
7,Technical Data Architect,Bangalore,uprighthc solutions private limited,10 to 20 Yrs
8,Oracle Utilities (customer care & Billing) CC&...,Bangalore\n+2,ltimindtree limited,5 to 9 Yrs
9,Clinical Data Associate,Bangalore\n+6,techno endura,0 to 1 Yr

In [56]:
driver=webdriver.Chrome()
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [57]:
Rating=[]
Review_summary=[]
Full_review=[]

In [58]:
rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rating:
    title=i.text
    Rating.append(title)
print(Rating)

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [59]:
review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in review:
    title=i.text
    Review_summary.append(title)
print(Review_summary)

['Best in the market!', 'Worth every penny', 'Classy product', 'Terrific', 'Fabulous!', 'Wonderful', 'Perfect product!', 'Terrific purchase', 'Just wow!', 'Brilliant']

In [60]:
full_review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div/div')
for i in full_review:
    title=i.text
    Full_review.append(title)
print(Full_review)

['Good Camera', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Camera is awesome\nBest battery backup\nA performer üëåüèª\nIt will be a real value for money if they provide charger and earphone inbox!', 'Very very good', 'Superüî• and good performance üëå‚ù§Ô∏è', 'This is amazing at all', 'Photos super', 'Value for money üòç', 'Perfect Product!!', 'very good camera quality']

In [77]:
Rating=[]
Review_summary=[]
Full_review=[]

start=0
end=10
for page in range(start,end):
    rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        title=i.text
        Rating.append(title)
        
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        title=i.text
        Review_summary.append(title)
        
    
    full_review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div/div')
    for i in full_review:
        title=i.text
        Full_review.append(title)
        
    next_button= driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]');
    if len(next_button)>1 :
        next_button[1].click()
    else:
        next_button[0].click()
     
    time.sleep(10)

In [78]:
print(len(Rating),len(Review_summary),len(Full_review) )

100 100 100

In [79]:
df=pd.DataFrame({'Rating':Rating,'Review_summary':Review_summary,'Full_review':Full_review})
df

,Rating,Review_summary,Full_review
0,5,Best in the market!,Good Camera
1,5,Worth every penny,Feeling awesome after getting the delivery of ...
2,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
3,5,Terrific,Very very good
4,5,Fabulous!,Superüî• and good performance üëå‚ù§Ô∏è
...,...,...,...
95,5,Classy product,Outstanding performance this phone
96,5,Wonderful,Quality camera
97,3,Good,only the name worth it with d price.
98,5,Excellent,A perfect phone and a good battery super camer...
99,5,Brilliant,Best phone

In [85]:
driver=webdriver.Chrome()
driver.get("https://www.flipkart.com")

In [88]:
Product=driver.find_element(By.CLASS_NAME,"Pke_EE" )
Product.send_keys('sneakers')

In [89]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button" )
search.click()

In [103]:
Sneakers_brand=[]
Product_description=[]
Price=[]

In [104]:
brand_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_name:
    brand=i.text
    Sneakers_brand.append(brand)
print(Sneakers_brand)

['Rowlans', 'VENDOZ', 'TR', 'PUMA', 'HOTSTYLE', 'PUMA', 'asian', 'VENDOZ', 'PUMA', 'PUMA', 'RUN SEVEN', 'Zixer', 'U.S. POLO ASSN.', 'RED TAPE', 'BERSACHE', 'PUMA', 'asian', 'BOLTAGO', 'kardam&sons', 'RED TAPE', 'BERSACHE', 'VENDOZ', 'U.S. POLO ASSN.', 'asian', 'PUMA', 'Layasa', 'New Balance', 'RED TAPE', 'RED TAPE', 'PUMA', 'Koburg', 'Field Care', 'asian', 'aadi', 'asian', 'RED TAPE', 'RED TAPE', 'asian', 'BIRDE', 'PUMA']

In [105]:
Product_price=driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]/div[@class="_25b18c"]/div[1]')
for i in Product_price:
    price=i.text
    Price.append(price)
print(Price)

['‚Çπ420', '‚Çπ599', '‚Çπ349', '‚Çπ3,009', '‚Çπ259', '‚Çπ1,799', '‚Çπ545', '‚Çπ499', '‚Çπ3,359', '‚Çπ3,869', '‚Çπ999', '‚Çπ660', '‚Çπ1,189', '‚Çπ1,119', '‚Çπ574', '‚Çπ2,639', '‚Çπ573', '‚Çπ699', '‚Çπ429', '‚Çπ1,119', '‚Çπ1,699', '‚Çπ499', '‚Çπ1,189', '‚Çπ631', '‚Çπ4,319', '‚Çπ439', '‚Çπ5,135', '‚Çπ1,339', '‚Çπ1,299', '‚Çπ2,128', '‚Çπ849', '‚Çπ989', '‚Çπ688', '‚Çπ408', '‚Çπ982', '‚Çπ1,039', '‚Çπ999', '‚Çπ727', '‚Çπ299', '‚Çπ2,249']

In [106]:
product_description=driver.find_elements(By.XPATH,'//div[@class="_1YokD2 _3Mn1Gg"]/div[@class="_1AtVbE col-12-12"]/div/div/div/div[1]/a[1]')
for i in product_description:
    description=i.text
    Product_description.append(description)
print(Product_description)
len(Product_description)

['comfortable,durable,sport shoe,snerakers,walking & gym ...', 'HIGH HEEL Sneakers For Women', 'Casual Shoes| Caual Sneakers| White shoes| White Sneake...', 'X-Ray Speed Sneakers For Men', 'Trendy & Stylish Sneakers For Men', 'Morgan SL V1 Sneakers For Men', 'Casual Sneaker Shoes For Women|| Soft Cushioned Insole ...', 'HIGH HEEL SHOES Sneakers For Women', 'Ferrari Caven 2.0 Sneakers For Men', 'MAPF1 Neo Cat Mid Sneakers For Men', '( by GO21 ) Soft Insole, Slip-Resistance|Walking Casual...', "Men's Streetwear Pro Style High Top Platform Fashion Sn...", 'Sneakers For Men', 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, S...', 'Combo pack of 2 shoes for men Sneakers For Men', 'Rickie Sneakers For Men', 'Sneaker Casual Shoes For Men | Soft Cushion Insole||Ach...', 'Sneakers For Men', 'kardam&sons luxury fashionable casual sneaker boots Sne...', 'Sneaker Casual Shoes For Men | Soft Cushion Insole, Sli...', 'Bersache Casual Walking Gym Training outdoor sneaker Sh...', 'Premium Stylish Comfortable Shoe for Girls and Womens S...', 'MONTON 4.0 Sneakers For Men', 'SM-162 Black Walking ,Training,Sneakers,Loafers,Canvas,...', 're schooltream Lo Retro Sneakers For Men', 'Casual Sneakers White Shoes For Girls And Sneakers For ...', '574 Sneakers For Men', 'Lifestyle Sneaker Shoes for Women | Soft Cushioned Inso...', 'Casual Sneaker Shoes for Men | Soft Cushioned Insole, S...', 'Ferrari Electron E Pro Sneakers For Men', 'Flexe Sneakers For Men', "Men's Trendy Casual Sports Comfort Stylish Latest Fashi...", 'Sneaker Casual Shoes for Men | Soft Cushioned Insole, S...', 'Sneakers For Men', 'Carnival-02 Mens High Top Casual Chunky Sneakers Sneake...', 'Sneakers For Men', 'Sneaker Casual Shoes for Women | Comfortable & Casual l...', 'Sneakers For Men', 'Premium Casual Shoes for Women Sneakers For Women', 'Sienna Softride Ballerina Sneakers For Women']

40

In [107]:
start=0
end=3
Sneakers_brand=[]
Product_description=[]
Price=[]
for page in range(start,end):
    brand_name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_name:
        brand=i.text
        Sneakers_brand.append(brand)  
    
    Product_price=driver.find_elements(By.XPATH,'//a[@class="_3bPFwb"]/div[@class="_25b18c"]/div[1]')
    for i in Product_price:
        price=i.text
        Price.append(price)  
    
    
    product_description=driver.find_elements(By.XPATH,'//div[@class="_1YokD2 _3Mn1Gg"]/div[@class="_1AtVbE col-12-12"]/div/div/div/div[1]/a[1]')
    for i in product_description:
        description=i.text
        Product_description.append(description)
    
    next_button= driver.find_elements(By.XPATH,'//a[@class="_1LKTO3"]');
    
     
    if len(next_button)>1 :
        next_button[1].click()
    else:
        next_button[0].click()
     
    time.sleep(10)

In [110]:
print(len(Sneakers_brand),len(Product_description),len(Price))

120 120 120

In [111]:
df=pd.DataFrame({'Brand_Name':Sneakers_brand,'Description':Product_description,'Product_Price':Price})
df

,Brand_Name,Description,Product_Price
0,BRUTON,Combo Pack Of 2 Casual Shoes for mens Sneakers...,‚Çπ499
1,BRUTON,2 Combo Sneaker Shoes Sneakers For Men,‚Çπ499
2,Deals4you,Sneakers For Women,‚Çπ439
3,URBANBOX,Trending Stylish Casual Outdoor Shoes For Men ...,‚Çπ299
4,RED TAPE,Casual Sneakers Shoes for Men | Soft Cushioned...,"‚Çπ1,179"
...,...,...,...
115,LANCER,SPYDER-1NBL Sneakers For Men,‚Çπ799
116,HOTSTYLE,"Sports Shoes , Walking Shoes , Gym & Training ...",‚Çπ259
117,BIRDE,Trendy Casual Shoe For Men Pack Of 2 Sneakers ...,‚Çπ575
118,Footox,Casual Shoes Sneakers For Women,‚Çπ299
119,RED TAPE,Casual Sneaker Shoes for Men | Soft Cushioned ...,"‚Çπ1,579"

In [114]:
driver=webdriver.Chrome()
driver.get("https://www.amazon.in/")

In [118]:
products=driver.find_element(By.ID,"twotabsearchtextbox" )
products.send_keys('Laptop')

In [119]:
search=driver.find_element(By.ID,"nav-search-submit-button" )
search.click()

In [126]:
checkbox=driver.find_element(By.XPATH, '//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')
checkbox.click()

In [182]:
Laptop_Title=[]

Price=[]

In [183]:
title=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title[0:10]:
    Title=i.text
    Laptop_Title.append(Title)
print(Laptop_Title)

['ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, 4GB NVIDIA GeForce RTX 3050 Ti, Gaming Laptop (16GB/1TB SSD/Win 11/MSO/90WHrs Battery/Black/2.30 Kg), FX506HE-HN385WS', 'Acer Travelmate Business Laptop Intel Core i7-11th Gen (Windows 11 Home/16 GB Ram/1TB SSD/Intel Iris Xe Graphics/14.0 IPS Display/Backlit Keyboard/Fingerprint Sensor) TMP214-53', 'MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN', 'ASUS Vivobook 15, Intel Core i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16GB/512GB/Win11/Office 2021/Blue/1.7 kg), X1502ZA-EJ741WS', 'Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 15.6 inch (39.62cm) FHD Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/3months Game Pass/Arctic Grey/1.63Kg), 82RK011EIN', 'HP Pavilion X360 11th Gen Intel Core i7 14" (35.6cm) FHD Multitouch 2in1 Laptop (16Gb Ram/512Gb Ssd/B&O/Win 11 Home/FPR/Backlit Kb/Intel Iris Xe Graphics/Pen/Alexa/Ms Office/Silver/1.52Kg)14-Dy1047Tu', 'HP Laptop 15s, 12th Gen Intel Core i7-1255U, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 512GB SSD, Intel Iris Xe Graphics, Backlit KB, Thin & Light (Win 11, MSO 2021, Silver, 1.69 kg), fq5190TU', 'HP Victus Gaming Laptop, 12th Gen Intel Core i7-12650H, 4GB RTX 3050 GPU, 15.6-inch (39.6 cm), 75W TGP, FHD, IPS, 144Hz, 16GB DDR4, 512GB SSD, Backlit KB, B&O (MSO, Blue, 2.37 kg), fa0188TX', 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel Iris Xe Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver,14-dv2015TU', 'Acer Aspire 5 Gaming Laptop Intel Core i7 13th Gen (Windows 11 Home/16 GB/512 GB SSD/4 GB Graphics/NVIDIA GeForce RTX 2050) A514-56GM, 14.0" WUXGA Display, 1.56 KG']

In [184]:
Ratings=[]
ratings=driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-small a-spacing-top-small"]/div[2]/div[1]/span[1]')
for i in ratings[0:10]:
    Ratings.append(i.get_attribute('aria-label'))
    
print(Ratings)

['4.3 out of 5 stars', '5.0 out of 5 stars', '4.1 out of 5 stars', '3.9 out of 5 stars', '4.1 out of 5 stars', '3.9 out of 5 stars', '3.3 out of 5 stars', '4.1 out of 5 stars', '4.2 out of 5 stars', '4.0 out of 5 stars']

In [185]:
price=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price[0:10]:
    Title=i.text
    Price.append(Title)
print(Price)

['69,990', '74,990', '49,990', '50,990', '60,990', '63,490', '67,990', '62,450', '79,990', '77,990']

In [186]:
print(len(Laptop_Title),len(Ratings),len(Price))

10 10 10

In [187]:
df=pd.DataFrame({'Laptop':Laptop_Title,'Ratings':Ratings,'Price':Price})
df

,Laptop,Ratings,Price
0,"ASUS TUF Gaming F15, 15.6""(39.62 cms) FHD 144H...",4.3 out of 5 stars,"69,990"
1,Acer Travelmate Business Laptop Intel Core i7-...,5.0 out of 5 stars,"74,990"
2,"MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...",4.1 out of 5 stars,"49,990"
3,"ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...",3.9 out of 5 stars,"50,990"
4,Lenovo IdeaPad Slim 3 Intel Core i7 12th Gen 1...,4.1 out of 5 stars,"60,990"
5,"HP Pavilion X360 11th Gen Intel Core i7 14"" (3...",3.9 out of 5 stars,"63,490"
6,"HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...",3.3 out of 5 stars,"67,990"
7,"HP Victus Gaming Laptop, 12th Gen Intel Core i...",4.1 out of 5 stars,"62,450"
8,HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...,4.2 out of 5 stars,"79,990"
9,Acer Aspire 5 Gaming Laptop Intel Core i7 13th...,4.0 out of 5 stars,"77,990"

In [198]:
driver=webdriver.Chrome()
driver.get("https://www.azquotes.com")

In [199]:
Top_Quote=driver.find_element(By.CLASS_NAME,"active")
Top_Quote.click()

In [197]:
Quote=[]
Author=[]
Type_of_Quote=[]

In [202]:
quote=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote:
    Title=i.text
    Quote.append(Title)
print(Quote)
len(Quote)

['The essence of strategy is choosing what not to do.', 'One cannot and must not try to erase the past merely because it does not fit the present.', 'Patriotism means to stand by the country. It does not mean to stand by the president.', 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.', 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.', 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.', 'Weak people revenge. Strong people forgive. Intelligent People Ignore.', "A mind is like a parachute. It doesn't work if it is not open.", 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.', 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.', "A strong nation, like a strong person, can afford to be gentle, firm, thoughtful, and restrained. It can afford to extend a helping hand to others. It's a weak nation, like a weak person, that must behave with bluster and boasting and rashness and other signs of insecurity.", 'The difference between stupidity and genius is that genius has its limits.', 'We the people are the rightful masters of both Congress and the courts, not to overthrow the Constitution but to overthrow the men who pervert the Constitution.', 'With or without religion, you would have good people doing good things and evil people doing evil things. But for good people to do evil things, that takes religion.', 'Human kindness has never weakened the stamina or softened the fiber of a free people. A nation does not have to be cruel to be tough.', 'A person who never made a mistake never tried anything new.', 'My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style', 'Life is short, Break the Rules. Forgive quickly, Kiss slowly. Love truly. Laugh uncontrollably And never regret ANYTHING That makes you smile.', 'This country will not be a good place for any of us to live in unless we make it a good place for all of us to live in.', 'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with distrust, we must still dare to believe.', 'Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.', 'To be a Christian means to forgive the inexcusable because God has forgiven the inexcusable in you.', 'A man who is good enough to shed his blood for the country is good enough to be given a square deal afterwards.', 'Kindness is the language which the deaf can hear and the blind can see.', 'Most folks are as happy as they make up their minds to be.', 'A happy marriage is the union of two good forgivers.', 'I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.', 'Politics is the art of looking for trouble, finding it everywhere, diagnosing it incorrectly and applying the wrong remedies.', "I believe in everything until it's disproved. So I believe in fairies, the myths, dragons. It all exists, even if it's in your mind. Who's to say that dreams and nightmares aren't as real as the here and now?", 'At the end of your life, you will never regret not having passed one more test, not winning one more verdict or not closing one more deal. You will regret time not spent with a husband, a friend, a child, or a parent.', 'I never think of the future - it comes soon enough.', "Our greatest fear should not be of failure but of succeeding at things in life that don't really matter.", 'Failure is simply the opportunity to begin again, this time more intelligently.', 'Music expresses that which cannot be put into words.', 'Good actions are a guard against the blows of adversity.', 'Positive thinking will let you do everything better than negative thinking will.', "You have enemies? Good. That means you've stood up for something, sometime in your life.", "You don't have to be great to start, but you have to start to be great", 'Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.', "If you want total security, go to prison. There you're fed, clothed, given medical care and so on. The only thing lacking... is freedom.", 'Socialism is a philosophy of failure, the creed of ignorance, and the gospel of envy, its inherent virtue is the equal sharing of misery.', 'It is the supreme art of the teacher to awaken joy in creative expression and knowledge.', "Once you replace negative thoughts with positive ones, you'll start having positive results.", "You build on failure. You use it as a stepping stone. Close the door on the past. You don't try to forget the mistakes, but you don't dwell on it. You don't let it have any of your energy, or any of your time, or any of your space.", 'All my life through, the new sights of Nature made me rejoice like a child.', "I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.", 'Marriage is not a ritual or an end. It is a long, intricate, intimate dance together and nothing matters more than your own sense of balance and your choice of partner.', 'When obstacles arise, you change your direction to reach your goal; you do not change your decision to get there.', 'Time you enjoy wasting, was not wasted.', 'The next time some academics tell you how important diversity is, ask how many Republicans there are in their sociology department.', 'Faith is not the belief that God will do what you want. It is the belief that God will do what is right.', "If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward.", 'It is hard to imagine a more stupid or more dangerous way of making decisions than by putting those decisions in the hands of people who pay no price for being wrong.', 'I say that the most liberating thing about beauty is realizing that you are the beholder.', 'The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.', 'The soldier, above all other people, prays for peace, for he must suffer and bear the deepest wounds and scars of war.', 'A true leader has the confidence to stand alone, the courage to make tough decisions, and the compassion to listen to the needs of others. He does not set out to be a leader, but becomes one by the equality of his actions and the integrity of his intent.', 'I am a Soldier, I fight where I am told, and I win where I fight.', "Trying to do the Lord's work in your own strength is the most confusing, exhausting, and tedious of all work. But when you are filled with the Holy Spirit, then the ministry of Jesus just flows out of you.", "Sports for me is when a guy walks off the court, and you really can't tell whether he won or lost, when he carries himself with pride either way.", 'Expect the best. Prepare for the worst. Capitalize on what comes.', 'I became insane, with long intervals of horrible sanity.', 'Failure is a detour, not a dead-end street.', 'I am not a product of my circumstances. I am a product of my decisions.', 'You can cut all the flowers but you cannot keep spring from coming.', "Life doesn't run away from nobody. Life runs at people.", 'In order to succeed, your desire for success should be greater than your fear of failure.', "It's difficult to think anything but pleasant thoughts while eating a homegrown tomato.", 'Too many of us are not living our dreams because we are living our fears.', 'If the only prayer you ever say in your entire life is thank you, it will be enough.', "It's just a job. Grass grows, birds fly, waves pound the sand. I beat people up.", 'A man must be big enough to admit his mistakes, smart enough to profit from them, and strong enough to correct them.', 'Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.', "It has been said, 'time heals all wounds.' I do not agree. The wounds remain. In time, the mind, protecting its sanity, covers them with scar tissue and the pain lessens. But it is never gone.", 'This is one small step for a man, one giant leap for mankind.', "I have held many things in my hands, and I have lost them all; but whatever I have placed in God's hands, that I still possess.", "Welfare's purpose should be to eliminate, as far as possible, the need for its own existence.", 'Each time, before you intercede, be quiet first, and worship God in His glory. Think of what He can do, and how He delights to hear the prayers of His redeemed people. Think of your place and privilege in Christ, and expect great things!', "Failure is not the opposite of success; it's part of success.", 'No one has ever become poor by giving.', 'It is not my ability, but my response to God‚Äôs ability, that counts.', 'No one is born hating another person because of the color of his skin, or his background, or his religion. People must learn to hate, and if they can learn to hate, they can be taught to love, for love comes more naturally to the human heart than its opposite.', 'No matter what people tell you, words and ideas can change the world.', 'A man should never neglect his family for business.', 'Those who dare to fail miserably can achieve greatly.', 'The two most important days in your life are the day you are born and the day you find out why.', 'We must be global Christians with a global vision because our God is a global God.', 'With everything that has happened to you, you can either feel sorry for yourself or treat what has happened as a gift. Everything is either an opportunity to grow or an obstacle to keep you from growing. You get to choose.', 'Don‚Äôt let the noise of others‚Äô opinions drown out your own inner voice.', 'History, despite its wrenching pain, cannot be unlived, but if faced with courage, need not be lived again.', "How old would you be if you didn't know how old you are?", 'Leadership is a privilege to better the lives of others. It is not an opportunity to satisfy personal greed.', 'If you have good thoughts they will shine out of your face like sunbeams and you will always look lovely.', 'Never cut a tree down in the wintertime. Never make a negative decision in the low time. Never make your most important decisions when you are in your worst moods. Wait. Be patient. The storm will pass. The spring will come.', 'An optimist stays up until midnight to see the new year in. A pessimist stays up to make sure the old year leaves.', 'When the going gets weird, the weird turn pro.', "When a train goes through a tunnel and it gets dark, you don't throw away the ticket and jump off. You sit still and trust the engineer.", 'If you think you are too small to make a difference, try sleeping with a mosquito.', "God doesn't require us to succeed, he only requires that you try.", 'Change your thoughts and you change your world.', 'The essence of strategy is choosing what not to do.', 'One cannot and must not try to erase the past merely because it does not fit the present.', 'Patriotism means to stand by the country. It does not mean to stand by the president.', 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.', 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.', 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.', 'Weak people revenge. Strong people forgive. Intelligent People Ignore.', "A mind is like a parachute. It doesn't work if it is not open.", 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.', 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.', "A strong nation, like a strong person, can afford to be gentle, firm, thoughtful, and restrained. It can afford to extend a helping hand to others. It's a weak nation, like a weak person, that must behave with bluster and boasting and rashness and other signs of insecurity.", 'The difference between stupidity and genius is that genius has its limits.', 'We the people are the rightful masters of both Congress and the courts, not to overthrow the Constitution but to overthrow the men who pervert the Constitution.', 'With or without religion, you would have good people doing good things and evil people doing evil things. But for good people to do evil things, that takes religion.', 'Human kindness has never weakened the stamina or softened the fiber of a free people. A nation does not have to be cruel to be tough.', 'A person who never made a mistake never tried anything new.', 'My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style', 'Life is short, Break the Rules. Forgive quickly, Kiss slowly. Love truly. Laugh uncontrollably And never regret ANYTHING That makes you smile.', 'This country will not be a good place for any of us to live in unless we make it a good place for all of us to live in.', 'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with distrust, we must still dare to believe.', 'Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.', 'To be a Christian means to forgive the inexcusable because God has forgiven the inexcusable in you.', 'A man who is good enough to shed his blood for the country is good enough to be given a square deal afterwards.', 'Kindness is the language which the deaf can hear and the blind can see.', 'Most folks are as happy as they make up their minds to be.', 'A happy marriage is the union of two good forgivers.', 'I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.', 'Politics is the art of looking for trouble, finding it everywhere, diagnosing it incorrectly and applying the wrong remedies.', "I believe in everything until it's disproved. So I believe in fairies, the myths, dragons. It all exists, even if it's in your mind. Who's to say that dreams and nightmares aren't as real as the here and now?", 'At the end of your life, you will never regret not having passed one more test, not winning one more verdict or not closing one more deal. You will regret time not spent with a husband, a friend, a child, or a parent.', 'I never think of the future - it comes soon enough.', "Our greatest fear should not be of failure but of succeeding at things in life that don't really matter.", 'Failure is simply the opportunity to begin again, this time more intelligently.', 'Music expresses that which cannot be put into words.', 'Good actions are a guard against the blows of adversity.', 'Positive thinking will let you do everything better than negative thinking will.', "You have enemies? Good. That means you've stood up for something, sometime in your life.", "You don't have to be great to start, but you have to start to be great", 'Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.', "If you want total security, go to prison. There you're fed, clothed, given medical care and so on. The only thing lacking... is freedom.", 'Socialism is a philosophy of failure, the creed of ignorance, and the gospel of envy, its inherent virtue is the equal sharing of misery.', 'It is the supreme art of the teacher to awaken joy in creative expression and knowledge.', "Once you replace negative thoughts with positive ones, you'll start having positive results.", "You build on failure. You use it as a stepping stone. Close the door on the past. You don't try to forget the mistakes, but you don't dwell on it. You don't let it have any of your energy, or any of your time, or any of your space.", 'All my life through, the new sights of Nature made me rejoice like a child.', "I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.", 'Marriage is not a ritual or an end. It is a long, intricate, intimate dance together and nothing matters more than your own sense of balance and your choice of partner.', 'When obstacles arise, you change your direction to reach your goal; you do not change your decision to get there.', 'Time you enjoy wasting, was not wasted.', 'The next time some academics tell you how important diversity is, ask how many Republicans there are in their sociology department.', 'Faith is not the belief that God will do what you want. It is the belief that God will do what is right.', "If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward.", 'It is hard to imagine a more stupid or more dangerous way of making decisions than by putting those decisions in the hands of people who pay no price for being wrong.', 'I say that the most liberating thing about beauty is realizing that you are the beholder.', 'The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.', 'The soldier, above all other people, prays for peace, for he must suffer and bear the deepest wounds and scars of war.', 'A true leader has the confidence to stand alone, the courage to make tough decisions, and the compassion to listen to the needs of others. He does not set out to be a leader, but becomes one by the equality of his actions and the integrity of his intent.', 'I am a Soldier, I fight where I am told, and I win where I fight.', "Trying to do the Lord's work in your own strength is the most confusing, exhausting, and tedious of all work. But when you are filled with the Holy Spirit, then the ministry of Jesus just flows out of you.", "Sports for me is when a guy walks off the court, and you really can't tell whether he won or lost, when he carries himself with pride either way.", 'Expect the best. Prepare for the worst. Capitalize on what comes.', 'I became insan

200

In [203]:
author=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author:
    Title=i.text
    Author.append(Title)
print(Author)
len(Author)

['Michael Porter', 'Golda Meir', 'Theodore Roosevelt', 'Nelson Mandela', 'Erma Bombeck', 'John Wooden', 'Albert Einstein', 'Frank Zappa', 'William Faulkner', 'Will Rogers', 'Jimmy Carter', 'Albert Einstein', 'Abraham Lincoln', 'Steven Weinberg', 'Franklin D. Roosevelt', 'Albert Einstein', 'Maya Angelou', 'Mark Twain', 'Theodore Roosevelt', 'Michael Jackson', 'Martin Luther King, Jr.', 'C. S. Lewis', 'Theodore Roosevelt', 'Mark Twain', 'Abraham Lincoln', 'Ruth Graham', 'C. S. Lewis', 'Groucho Marx', 'John Lennon', 'Barbara Bush', 'Albert Einstein', 'Francis Chan', 'Henry Ford', 'Victor Hugo', 'Abu Bakr', 'Zig Ziglar', 'Winston Churchill', 'Zig Ziglar', 'John F. Kennedy', 'Dwight D. Eisenhower', 'Winston Churchill', 'Albert Einstein', 'Willie Nelson', 'Johnny Cash', 'Marie Curie', 'Maya Angelou', 'Amy Bloom', 'Zig Ziglar', 'John Lennon', 'Thomas Sowell', 'Max Lucado', 'Martin Luther King, Jr.', 'Thomas Sowell', 'Salma Hayek', 'Martin Luther King, Jr.', 'Douglas MacArthur', 'Douglas MacArthur', 'George S. Patton', 'Corrie Ten Boom', 'Jim Courier', 'Zig Ziglar', 'Edgar Allan Poe', 'Zig Ziglar', 'Stephen Covey', 'Pablo Neruda', 'Joe Frazier', 'Bill Cosby', 'Lewis Grizzard', 'Les Brown', 'Meister Eckhart', 'Muhammad Ali', 'John C. Maxwell', 'Thomas A. Edison', 'Rose Kennedy', 'Neil Armstrong', 'Martin Luther', 'Ronald Reagan', 'Andrew Murray', 'Arianna Huffington', 'Anne Frank', 'Corrie Ten Boom', 'Nelson Mandela', 'Robin Williams', 'Walt Disney', 'John F. Kennedy', 'Mark Twain', 'John Stott', 'Wayne Dyer', 'Steve Jobs', 'Maya Angelou', 'Satchel Paige', 'Mwai Kibaki', 'Roald Dahl', 'Robert H. Schuller', 'Bill Vaughan', 'Hunter S. Thompson', 'Corrie Ten Boom', 'Dalai Lama', 'Mother Teresa', 'Norman Vincent Peale', 'Michael Porter', 'Golda Meir', 'Theodore Roosevelt', 'Nelson Mandela', 'Erma Bombeck', 'John Wooden', 'Albert Einstein', 'Frank Zappa', 'William Faulkner', 'Will Rogers', 'Jimmy Carter', 'Albert Einstein', 'Abraham Lincoln', 'Steven Weinberg', 'Franklin D. Roosevelt', 'Albert Einstein', 'Maya Angelou', 'Mark Twain', 'Theodore Roosevelt', 'Michael Jackson', 'Martin Luther King, Jr.', 'C. S. Lewis', 'Theodore Roosevelt', 'Mark Twain', 'Abraham Lincoln', 'Ruth Graham', 'C. S. Lewis', 'Groucho Marx', 'John Lennon', 'Barbara Bush', 'Albert Einstein', 'Francis Chan', 'Henry Ford', 'Victor Hugo', 'Abu Bakr', 'Zig Ziglar', 'Winston Churchill', 'Zig Ziglar', 'John F. Kennedy', 'Dwight D. Eisenhower', 'Winston Churchill', 'Albert Einstein', 'Willie Nelson', 'Johnny Cash', 'Marie Curie', 'Maya Angelou', 'Amy Bloom', 'Zig Ziglar', 'John Lennon', 'Thomas Sowell', 'Max Lucado', 'Martin Luther King, Jr.', 'Thomas Sowell', 'Salma Hayek', 'Martin Luther King, Jr.', 'Douglas MacArthur', 'Douglas MacArthur', 'George S. Patton', 'Corrie Ten Boom', 'Jim Courier', 'Zig Ziglar', 'Edgar Allan Poe', 'Zig Ziglar', 'Stephen Covey', 'Pablo Neruda', 'Joe Frazier', 'Bill Cosby', 'Lewis Grizzard', 'Les Brown', 'Meister Eckhart', 'Muhammad Ali', 'John C. Maxwell', 'Thomas A. Edison', 'Rose Kennedy', 'Neil Armstrong', 'Martin Luther', 'Ronald Reagan', 'Andrew Murray', 'Arianna Huffington', 'Anne Frank', 'Corrie Ten Boom', 'Nelson Mandela', 'Robin Williams', 'Walt Disney', 'John F. Kennedy', 'Mark Twain', 'John Stott', 'Wayne Dyer', 'Steve Jobs', 'Maya Angelou', 'Satchel Paige', 'Mwai Kibaki', 'Roald Dahl', 'Robert H. Schuller', 'Bill Vaughan', 'Hunter S. Thompson', 'Corrie Ten Boom', 'Dalai Lama', 'Mother Teresa', 'Norman Vincent Peale']

200

In [204]:
quote_type=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quote_type:
    Title=i.text
    Type_of_Quote.append(Title)
print(Type_of_Quote)
len(Type_of_Quote)

['Essence, Deep Thought, Transcendentalism', 'Inspiration, Past, Trying', 'Country, Peace, War', 'Inspirational, Motivational, Death', '4th Of July, Food, Patriotic', 'Inspirational, Success, Basketball', 'Strong, Revenge, Intelligent', 'Inspirational, Teacher, Religious', 'Truth, Honesty, Lying', 'Funny, Reading, Learning', 'Strong, Thoughtful, Compassion', 'Love, Funny, Life', 'Freedom, Men, Democracies Have', 'God, Religious, Atheist', 'Respect, Kindness, Character', 'Inspirational, Motivational, Change', 'Inspirational, Life, Inspiring', 'Love, Inspirational, Life', 'Inspiring, Country, 4th Of July', 'Inspirational, Dream, Hate', 'Love, Inspirational, Life', 'Forgiveness, God, Christian', 'Country, Men, Squares', 'Inspirational, Relationship, Positive', 'Inspirational, Motivational, Positive', 'Love, Friendship, Relationship', 'Faith, God, Christian', 'Art, Freedom, Political Will', 'Inspirational, Life, Faith', 'Inspirational, Life, Meaningful', 'Happiness, Time, Clever', 'Inspirational, Inspiring, Success', 'Love, Inspirational, Life', 'Music, Sound And Music, Musical Life', 'Adversity, Blow, Action', 'Positive, Thinking Of You, Attitude', 'Inspirational, Funny, Life', 'Inspirational, Life, Motivational', 'Inspirational, Memorial Day, Freedom', 'Freedom, Patriotic, Vaccines', 'Philosophy, Ignorance, Democratic Socialism', 'Inspirational, Dance, Education', 'Life, Change, Positive', 'Life, Bullying, Mistake', 'Life, Nature, Children', 'Inspirational, Life, Motivational', 'Marriage, Love You, Long', 'Inspirational, Motivational, Success', 'Love, Inspirational, Life', 'Diversity, Important, Liberty', 'Inspirational, God, Faith', 'Inspirational, Motivational, Inspiring', 'Business, Stupid, Government', 'Beauty, Love Yourself, Your Beautiful', 'Inspirational, Life, Motivational', 'Peace, Military, War', 'Inspirational, Leadership, Confidence', 'Motivational, Military, War', 'Christian, Jesus, Confusing', 'Inspirational, Success, Sports', 'Inspirational, Motivational, Success', 'Inspirational, Life, Clever', 'Inspirational, Death, Failure', 'Inspirational, Life, Motivational', 'Inspiring, Hope, Spring', 'Motivational, Running, People', 'Inspirational, Motivational, Positive', 'Summer, Food, Garden', 'Inspirational, Life, Motivational', 'Inspirational, Life, Thank You', 'Funny, Sports, Jobs', 'Being Strong, Wisdom, Stay Strong', 'Inspirational, Motivational, Positive', 'Time, Pain, Get Well', 'Motivational, Positive, Moon', 'Life, God, Christian', 'President, Needs, Purpose', 'God, Faith, Christian', 'Women, Failure, Successful', 'Inspirational, Morning, Kindness', 'Hiding Place, Ability, Baby Boom', 'Love, Inspirational, Life', 'Inspirational, Change, Philosophy', 'Inspirational, Family, Inspiring', 'Inspirational, Success, Courage', 'Inspirational, Life, Motivational', 'Christian, Vision, Missionary', 'Inspirational, Positive, Regret', 'Love, Inspirational, Life', 'Inspirational, Life, Encouragement', 'Happy Birthday, Baseball, Fun', 'Leadership, Power, Opportunity', 'Inspirational, Life, Positive', 'Inspirational, Encouraging, Patience', 'New Year, Fun, New Beginnings', 'Music, Sports, Hunting', 'Trust, Encouraging, Uplifting', 'Inspirational, Funny, Change', 'Success, God, Mother', 'Inspirational, Motivational, Change']

100

In [210]:
start=0
end=10

Quote=[]
Author=[]
Type_of_Quote=[]

for page in range(start,end):

    quote=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote:
        Title=i.text
        Quote.append(Title)
    
    
    author=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author:
        Title=i.text
        Author.append(Title)
    
    quote_type=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in quote_type:
        Title=i.text
        Type_of_Quote.append(Title)
    
    next_button= driver.find_elements(By.XPATH,'//li[@class="next"]')
    if len(next_button)>1 :
        next_button[1].click()
    else:
        next_button[0].click()
    
    
    time.sleep(10)

IndexError: list index out of range

In [211]:
print(len(Quote),len(Author),len(Type_of_Quote))

1000 1000 1000

In [212]:
df=pd.DataFrame({'Quote':Quote,'Author':Author,'Type_of_Quote':Type_of_Quote})
df

,Quote,Author,Type_of_Quote
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
996,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
997,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
998,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
999,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

In [294]:
driver=webdriver.Chrome()
driver.get("https://www.motor1.com/")

In [295]:
Search_Product=driver.find_element(By.ID,"search_input" )
Search_Product.send_keys('‚Äô50 most expensive cars‚Äô')

In [296]:
search=driver.find_element(By.XPATH,"/html/body/div[9]/div[2]/div/div/div[3]/div/div/div/form/button[1]" )
search.click()

In [297]:
search_result_link = driver.find_element(By.XPATH,"/html/body/div[9]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a")
search_result_link.click()

In [329]:
Car_Name=[]
Car_Price=[]

In [330]:
car_name=driver.find_elements(By.XPATH,'//*[@id="article_box"]/div[1]/div[2]/div[2]/h3')
for i in car_name:
    Title=i.text
    if "Most Expensive Cars In The World" != Title:
        Car_Name.append(Title)
print(Car_Name)

['Aston Martin Valour', 'McLaren Elva', 'Czinger 21C', 'Ferrari Monza', 'Gordon Murray T.33', 'Koenigsegg Gemera', 'Zenvo TSR-S', 'Hennessey Venom F5', 'Bentley Bacalar', 'Hispano Suiza Carmen Boulogne', 'Bentley Mulliner Batur', 'Deus Vayanne', 'SSC Tuatara', 'Lotus Evija', 'Aston Martin Vulcan', 'Delage D12', 'Ferrari Daytona SP3', 'McLaren Speedtail', 'Rimac Nevera', 'Pagani Utopia', 'Pininfarina Battista', 'Gordon Murray T.50', 'Lamborghini Countach', 'Mercedes-AMG Project One', 'Zenvo Aurora', 'Aston Martin Victor', 'Hennessey Venom F5 Roadster', 'Koenigsegg Jesko', 'Aston Martin Valkyrie', 'W Motors Lykan Hypersport', 'McLaren Solus', 'Lamborghini Sian', 'Koenigsegg CC850', 'Bugatti Chiron Super Sport 300+', 'Lamborghini Veneno', 'Bugatti Bolide', 'Pininfarina B95 Speedster', 'Bugatti Mistral', 'Pagani Huayra Imola', 'Bugatti Divo', 'SP Automotive Chaos', 'Pagani Codalunga', '777 Hypercar', 'Mercedes-Maybach Exelero', 'Bugatti Centodieci', 'Bugatti Chiron Profil√©e', 'Rolls-Royce Sweptail', 'Bugatti La Voiture Noire', 'Rolls-Royce Boat Tail*', 'Rolls-Royce La Rose Noire Droptail']

In [331]:
car_price=driver.find_elements(By.XPATH,'//div[@class="postBody description e-content"]/p')
for i in car_price:    
    Title=i.text
    if ("Price: $" in Title) or (" Million" in Title):
        Car_Price.append(Title)
        
print(Car_Price)

['Price: $1.5 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.8 Million', 'Price: $1.9 Million', 'Price: $1.9 Million', 'Price: $2.0 Million', 'Price: $2.0 Million', 'Price: $2.0 Million', 'Price: $2.1 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.4 Million', 'Price: $2.5 Million', 'Price: $2.5 Million', 'Price: $2.6 Million', 'Price: $2.6 Million', 'Price: $2.7 Million', 'Price: $2.8 Million', 'Price: $3.0 Million', '$3.0 Million', 'Price: $3.0 Million', 'Price: $3.2 Million', 'Price: $3.4 Million', '$3.5 Million', 'Price: $3.6 million', 'Price: $3.7 Million', 'Price: $3.9 Million', 'Price: $4.5 Million', 'Price: $4.7 Million', 'Price: $4.8 Million', 'Price: $5.0 Million', 'Price: $5.4 Million', 'Price: $5.8 Million', 'Price: $6.4 Million', 'Price: $7.4 Million', 'Price: $7.5 Million', 'Price: $8.0 Million', 'Price: $9.0 Million', 'Price: $10.8 Million', 'Price: $12.8 Million', 'Price: $13.4 Million', 'Price: $28.0 Million (est.)', 'Price: $30 Million (est.)']

In [332]:
print(len(Car_Name),len(Car_Price))

50 50

In [333]:
df=pd.DataFrame({'Car_Name':Car_Name,'Car_Price':Car_Price})
df

                              Car_Name                    Car_Price
0                  Aston Martin Valour          Price: $1.5 Million
1                         McLaren Elva          Price: $1.7 Million
2                          Czinger 21C          Price: $1.7 Million
3                        Ferrari Monza          Price: $1.7 Million
4                   Gordon Murray T.33          Price: $1.7 Million
5                    Koenigsegg Gemera          Price: $1.7 Million
6                          Zenvo TSR-S          Price: $1.7 Million
7                   Hennessey Venom F5          Price: $1.8 Million
8                      Bentley Bacalar          Price: $1.9 Million
9        Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10              Bentley Mulliner Batur          Price: $2.0 Million
11                        Deus Vayanne          Price: $2.0 Million
12                         SSC Tuatara          Price: $2.0 Million
13                         Lotus Evija          Price: $2.1 Million
14                 Aston Martin Vulcan          Price: $2.3 Million
15                          Delage D12          Price: $2.3 Million
16                 Ferrari Daytona SP3          Price: $2.3 Million
17                   McLaren Speedtail          Price: $2.3 Million
18                        Rimac Nevera          Price: $2.4 Million
19                       Pagani Utopia          Price: $2.5 Million
20                Pininfarina Battista          Price: $2.5 Million
21                  Gordon Murray T.50          Price: $2.6 Million
22                Lamborghini Countach          Price: $2.6 Million
23            Mercedes-AMG Project One          Price: $2.7 Million
24                        Zenvo Aurora          Price: $2.8 Million
25                 Aston Martin Victor          Price: $3.0 Million
26         Hennessey Venom F5 Roadster                 $3.0 Million
27                    Koenigsegg Jesko          Price: $3.0 Million
28               Aston Martin Valkyrie          Price: $3.2 Million
29           W Motors Lykan Hypersport          Price: $3.4 Million
30                       McLaren Solus                 $3.5 Million
31                    Lamborghini Sian          Price: $3.6 million
32                    Koenigsegg CC850          Price: $3.7 Million
33     Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34                  Lamborghini Veneno          Price: $4.5 Million
35                      Bugatti Bolide          Price: $4.7 Million
36           Pininfarina B95 Speedster          Price: $4.8 Million
37                     Bugatti Mistral          Price: $5.0 Million
38                 Pagani Huayra Imola          Price: $5.4 Million
39                        Bugatti Divo          Price: $5.8 Million
40                 SP Automotive Chaos          Price: $6.4 Million
41                    Pagani Codalunga          Price: $7.4 Million
42                        777 Hypercar          Price: $7.5 Million
43            Mercedes-Maybach Exelero          Price: $8.0 Million
44                  Bugatti Centodieci          Price: $9.0 Million
45             Bugatti Chiron Profil√©e         Price: $10.8 Million
46                Rolls-Royce Sweptail         Price: $12.8 Million
47            Bugatti La Voiture Noire         Price: $13.4 Million
48              Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)

In [257]:
car_price=driver.find_elements(By.XPATH,"//div[@class='slide-item']//p[@class='price']")
for i in car_price:
    Title=i.text
    Car_Price.append(Title)
print(Car_Price)

['Price: $1.5 Million']

In [258]:
car_name=driver.find_elements(By.XPATH,'//div[@class="article-content"]/h3')
for i in car_name:
    Title=i.text
    Car_Name.append(Title)
print(Car_Name)

['Aston Martin Valour']

In [285]:
driver=webdriver.Chrome()
driver.get("https://www.jagranjosh.com/general-knowledge/list-ofall-prime-ministers-of-india-1473165149-1")

In [291]:
data = []
table = driver.find_element(By.XPATH,'//*[@id="itemdiv"]/div[3]/div[6]/div/table')
rows = table.find_elements(By.TAG_NAME, 'tr')
for row in rows:
  cols = row.find_elements(By.TAG_NAME,'td')  
  if len(cols) == 5:
      name = cols[1].text
      born_dead = cols[2].text
      term_of_office = cols[3].text
      remarks = cols[4].text
      data.append([name, born_dead, term_of_office, remarks])
print(data)

[['Jawahar Lal Nehru', '(1889‚Äì1964)', '15 August 1947 to 27 May 1964\n16 years, 286 days', 'The first prime minister of India and the longest-serving PM of India, the first to die in office.'], ['Gulzarilal Nanda (Acting)', '(1898-1998)', '27 May 1964 to 9 June 1964,\n13 days', 'First acting PM of India'], ['Lal Bahadur Shastri', '(1904‚Äì1966)', '9 June 1964 to 11 January 1966\n1 year, 216 days', "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965"], ['Gulzari Lal Nanda  (Acting)', '(1898-1998)', '11 January 1966 to 24 January 1966\n13 days', '-'], ['Indira Gandhi', '(1917‚Äì1984)', '24 January 1966 to 24 March 1977\n11 years, 59 days', 'First female Prime Minister of India'], ['Morarji Desai', '(1896‚Äì1995)', '24 March 1977 to  28 July 1979 \n2 year, 126 days', 'Oldest to become PM (81 years old) and first to resign from office'], ['Charan Singh', '(1902‚Äì1987)', '28 July 1979 to 14 January 1980\n170 days', 'Only PM who did not face the Parliament'], ['Indira Gandhi', '(1917‚Äì1984)', '14 January 1980 to 31 October 1984\n4 years, 291 days', 'The first lady who served as PM for the second term'], ['Rajiv Gandhi', '(1944‚Äì1991)', '31 October 1984 to 2 December 1989\n5 years, 32 days', 'Youngest to become PM (40 years old)'], ['V. P. Singh', '(1931‚Äì2008)', '2 December 1989 to 10 November 1990\n343 days', 'First PM to step down after a vote of no confidence'], ['Chandra Shekhar', '(1927‚Äì2007)', '10 November 1990 to 21 June 1991\n223 days', 'He belongs to  Samajwadi Janata Party'], ['P. V. Narasimha Rao', '(1921‚Äì2004)', '21 June 1991 to 16 May 1996\n4 years, 330 days', 'First PM from South India'], ['Atal Bihari Vajpayee', '(1924- 2018)', '16 May 1996 to 1 June 1996\n16 days', 'PM for shortest tenure'], ['H. D. Deve Gowda', '(born 1933)', '1 June 1996 to 21 April 1997\n324 days', 'He belongs to  Janata Dal'], ['Inder Kumar Gujral', '(1919‚Äì2012)', '21 April 1997 to 19 March 1998 \n332 days', '------'], ['Atal Bihari Vajpayee', '(1924-2018)', '19 March 1998 to 22 May 2004 \n6 years, 64 days', ' The first non-congress PM who completed a full term as PM'], ['Manmohan Singh', '(born 1932)', '22 May 2004 to 26 May 2014   \n10 years, 4 days', ' First Sikh PM'], ['Narendra Modi', '(born 1950)', '26 May 2014 - 2019', '4th Prime Minister of India who served two consecutive tenures'], ['Narendra Modi', '(born 1950)', '30 May 2019- Incumbent', 'First non-congress PM with two consecutive tenures']]

In [292]:
df = pd.DataFrame(data, columns=['Name', 'Born-Dead', 'Term of Office', 'Remarks'])

In [293]:
df

,Name,Born-Dead,Term of Office,Remarks
0,Jawahar Lal Nehru,(1889‚Äì1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904‚Äì1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917‚Äì1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896‚Äì1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902‚Äì1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917‚Äì1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944‚Äì1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931‚Äì2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927‚Äì2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921‚Äì2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919‚Äì2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,Narendra Modi,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...