In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\vkvar\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\vkvar\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\vkvar\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\vkvar\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\vkvar\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\vkvar\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\vkvar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\vkvar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\vkvar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\vkvar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\vkvar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\vkvar\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\vkvar\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\vkvar\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\vkvar\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\vkvar\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium .webdriver.common.by import By
import time
from bs4 import BeautifulSoup
import requests
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException, ElementNotInteractableException

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: 
A)Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
driver=webdriver.Chrome() # Set up Selenium webdriver
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
# creating empty lists for scraping the data
Rank = []
Name = []
Artist = []
Date = []
Views = []

In [13]:
Name = [] #scraping Name
title=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[1]')
for i in title:
    try:
        Title=i.text
        Name.append(Title)
    except NoSuchElementException:
        Name.append("-")
print(Name)
len(Name)

['"Baby Shark Dance"[7]', '"Despacito"[10]', '"Johny Johny Yes Papa"[18]', '"Bath Song"[19]', '"Shape of You"[20]', '"See You Again"[23]', '"Wheels on the Bus"[28]', '"Phonics Song with Two Words"[29]', '"Uptown Funk"[30]', '"Gangnam Style"[31]', '"Learning Colors – Colorful Eggs on a Farm"[36]', '"Masha and the Bear – Recipe for Disaster"[37]', '"Dame Tu Cosita"[38]', '"Axel F"[39]', '"Sugar"[40]', '"Baa Baa Black Sheep"[41]', '"Counting Stars"[42]', '"Roar"[43]', '"Lakdi Ki Kathi"[44]', '"Waka Waka (This Time for Africa)"[45]', '"Sorry"[46]', '"Humpty the train on a fruits ride"[47]', '"Thinking Out Loud"[48]', '"Shree Hanuman Chalisa"[49]', '"Perfect"[50]', '"Dark Horse"[51]', '"Let Her Go"[52]', '"Faded"[53]', '"Girls Like You"[54]', '"Lean On"[55]']

30

In [17]:
Artist = [] E#Scraping Artist
title=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[2]')
for i in title:
    try:
        Title=i.text
        Artist.append(Title)
    except NoSuchElementException:
        Artist.append("-")
print(Artist)
len(Artist)

["Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', "LooLoo Kids - Nursery Rhymes and Children's Songs", 'Cocomelon - Nursery Rhymes', 'Ed Sheeran', 'Wiz Khalifa', 'Cocomelon - Nursery Rhymes', 'ChuChu TV Nursery Rhymes & Kids Songs', 'Mark Ronson', 'Psy', 'Miroshka TV', 'Get Movies', 'Ultra Records', 'Crazy Frog', 'Maroon 5', 'Cocomelon - Nursery Rhymes', 'OneRepublic', 'Katy Perry', 'Jingle Toons', 'Shakira', 'Justin Bieber', 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs', 'Ed Sheeran', 'T-Series Bhakti Sagar', 'Ed Sheeran', 'Katy Perry', 'Passenger', 'Alan Walker', 'Maroon 5', 'Major Lazer Official']

30

In [20]:
Date = [] #Scraping Date
title=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[4]')
for i in title:
    try:
        Title=i.text
        Date.append(Title)
    except NoSuchElementException:
        Date.append("-")
print(Date)
len(Date)

['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'May 2, 2018', 'January 30, 2017', 'April 6, 2015', 'May 24, 2018', 'March 6, 2014', 'November 19, 2014', 'July 15, 2012', 'February 27, 2018', 'January 31, 2012', 'April 5, 2018', 'June 16, 2009', 'January 14, 2015', 'June 25, 2018', 'May 31, 2013', 'September 5, 2013', 'June 14, 2018', 'June 4, 2010', 'October 22, 2015', 'January 26, 2018', 'October 7, 2014', 'May 10, 2011', 'November 9, 2017', 'February 20, 2014', 'July 25, 2012', 'December 3, 2015', 'May 31, 2018', 'March 22, 2015']

30

In [21]:
Views = [] #Scraping Views
title=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"][1]/tbody/tr/td[3]')
for i in title:
    try:
        Title=i.text
        Views.append(Title)
    except NoSuchElementException:
        Views.append("-")
print(Views)
len(Views)

['14.22', '8.40', '6.88', '6.65', '6.22', '6.20', '5.95', '5.73', '5.17', '5.09', '5.08', '4.58', '4.57', '4.40', '4.02', '3.99', '3.99', '3.97', '3.95', '3.88', '3.78', '3.75', '3.74', '3.74', '3.69', '3.69', '3.63', '3.60', '3.57', '3.56']

30

In [25]:
print (len(Name),len(Artist),len(Date),len(Views))

30 30 30 30

In [26]:
Top_trending_videos=pd.DataFrame({'Name':Name,'Artist':Artist,'Date':Date,'Views':Views})
Top_trending_videos #getting thee dataframe

,Name,Artist,Date,Views
0,"""Baby Shark Dance""[7]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.22
1,"""Despacito""[10]",Luis Fonsi,"January 12, 2017",8.40
2,"""Johny Johny Yes Papa""[18]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.88
3,"""Bath Song""[19]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.65
4,"""Shape of You""[20]",Ed Sheeran,"January 30, 2017",6.22
5,"""See You Again""[23]",Wiz Khalifa,"April 6, 2015",6.20
6,"""Wheels on the Bus""[28]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.95
7,"""Phonics Song with Two Words""[29]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.73
8,"""Uptown Funk""[30]",Mark Ronson,"November 19, 2014",5.17
9,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.09
10,"""Learning Colors – Colorful Eggs on a Farm""[36]",Miroshka TV,"February 27, 2018",5.08
11,"""Masha and the Bear – Recipe for Disaster""[37]",Get Movies,"January 31, 2012",4.58
12,"""Dame Tu Cosita""[38]",Ultra Records,"April 5, 2018",4.57
13,"""Axel F""[39]",Crazy Frog,"June 16, 2009",4.40
14,"""Sugar""[40]",Maroon 5,"January 14, 2015",4.02
15,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.99
16,"""Counting Stars""[42]",OneRepublic,"May 31, 2013",3.99
17,"""Roar""[43]",Katy Perry,"September 5, 2013",3.97
18,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.95
19,"""Waka Waka (This Time for Africa)""[45]",Shakira,"June 4, 2010",3.88
20,"""Sorry""[46]",Justin Bieber,"October 22, 2015",3.78
21,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.75
22,"""Thinking Out Loud""[48]",Ed Sheeran,"October 7, 2014",3.74
23,"""Shree Hanuman Chalisa""[49]",T-Series Bhakti Sagar,"May 10, 2011",3.74
24,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.69
25,"""Dark Horse""[51]",Katy Perry,"February 20, 2014",3.69
26,"""Let Her Go""[52]",Passenger,"July 25, 2012",3.63
27,"""Faded""[53]",Alan Walker,"December 3, 2015",3.60
28,"""Girls Like You""[54]",Maroon 5,"May 31, 2018",3.57
29,"""Lean On""[55]",Major Lazer Official,"March 22, 2015",3.56

In [27]:
driver.quit() # Close the browser

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Series
B) Place
C) Date
D) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [28]:
driver=webdriver.Chrome() # Set up Selenium webdriver
driver.get("http://www.bcci.tv/")

In [30]:
fixtures=driver.find_element(By.XPATH,'//div[@class="imw-tabs international-tabs"]/a[2]') # Opening fixtures webpage through browser
fixtures.click()

In [31]:
# creating empty lists for scraping the data
Series = []
Place = []
Date = []
Time = []

In [33]:
Series = [] #Scraping series
title=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in title:
    try:
        Title=i.text
        Series.append(Title)
    except NoSuchElementException:
        Series.append("-")
print(Series)
len(Series)

['ICC MENS T20 WORLD CUP 2024', 'ICC MENS T20 WORLD CUP 2024', 'ICC MENS T20 WORLD CUP 2024', 'ICC MENS T20 WORLD CUP 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024']

9

In [35]:
Place = [] #scraping Place
title=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in title:
    try:
        Title=i.text
        Place.append(Title)
    except NoSuchElementException:
        Place.append("-")
print(Place)
len(Place)

['Nassau County International Cricket Stadium, New York', 'Nassau County International Cricket Stadium, New York', 'Nassau County International Cricket Stadium, New York', 'Central Broward Park & Broward County Stadium, Lauderhill, Florida', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare']

9

In [36]:
Date = [] #Scraping Date
title=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in title:
    try:
        Title=i.text
        Date.append(Title)
    except NoSuchElementException:
        Date.append("-")
print(Date)
len(Date)

['5 JUNE, 2024', '9 JUNE, 2024', '12 JUNE, 2024', '15 JUNE, 2024', '6 JULY, 2024', '7 JULY, 2024', '10 JULY, 2024', '13 JULY, 2024', '14 JULY, 2024']

9

In [37]:
Time = [] #Scraping Time
title=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in title:
    try:
        Title=i.text
        Time.append(Title)
    except NoSuchElementException:
        Time.append("-")
print(Time)
len(Time)

['8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST']

9

In [38]:
India_International_fixtures =pd.DataFrame({'Series':Series,'Place':Place,'Date':Date,'Time':Time})
India_International_fixtures #getting data into dataframe

,Series,Place,Date,Time
0,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","5 JUNE, 2024",8:00 PM IST
1,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","9 JUNE, 2024",8:00 PM IST
2,ICC MENS T20 WORLD CUP 2024,"Nassau County International Cricket Stadium, N...","12 JUNE, 2024",8:00 PM IST
3,ICC MENS T20 WORLD CUP 2024,"Central Broward Park & Broward County Stadium,...","15 JUNE, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
6,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
7,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
8,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

In [39]:
driver.close() # Close the browser

# 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details: A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [41]:
driver=webdriver.Chrome() # connecting to the web driver
driver.get("http://statisticstimes.com/")

In [47]:
# clicking on Economy button
driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button').click()

In [48]:
# clicking on India
driver.find_element(By.XPATH,'//div[@class="dropdown-content"]/a[3]').click()
time.sleep(3)

In [51]:
# clicking on GDP of Indian states
GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [52]:
Rank = []
State = []
GSDP22_23 = []
GSDP21_22 = []
Share = []
GDP_billion = []

In [53]:
Rank = [] #scraping the rank
title=driver.find_elements(By.XPATH,' //*[@id="table_id"]/tbody/tr/td[1]')
for i in title:
    try:
        Title=i.text
        Rank.append(Title)
    except NoSuchElementException:
        Rank.append("-")
print(Rank)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33']

In [54]:
State = [] #scraping the state
title=driver.find_elements(By.XPATH,' //*[@id="table_id"]/tbody/tr/td[2]')
for i in title:
    try:
        Title=i.text
        State.append(Title)
    except NoSuchElementException:
        State.append("-")
print(State)
len(State)

['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Karnataka', 'Gujarat', 'West Bengal', 'Rajasthan', 'Madhya Pradesh', 'Andhra Pradesh', 'Telangana', 'Kerala', 'Delhi', 'Haryana', 'Odisha', 'Bihar', 'Punjab', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir-UT', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Arunachal Pradesh', 'Nagaland', 'Mizoram', 'Andaman & Nicobar Islands']

33

In [55]:
GSDP22_23 = [] #scraping gsdp for the currrent year
title=driver.find_elements(By.XPATH,' //*[@id="table_id"]/tbody/tr/td[3]')
for i in title:
    try:
        Title=i.text
        GSDP22_23.append(Title)
    except NoSuchElementException:
        GSDP22_23.append("-")
print(GSDP22_23)
len(GSDP22_23)

['-', '2,364,514', '2,257,575', '2,241,368', '-', '1,554,992', '1,413,620', '1,322,821', '1,317,728', '1,313,391', '-', '1,043,759', '994,154', '774,869', '751,396', '673,107', '493,167', '457,608', '393,722', '302,621', '227,927', '195,405', '-', '72,636', '-', '-', '42,697', '42,756', '-', '-', '-', '-', '-']

33

In [56]:
GSDP21_22 = [] #scraping gsddp for the previous year 
title=driver.find_elements(By.XPATH,' //*[@id="table_id"]/tbody/tr/td[4]')
for i in title:
    try:
        Title=i.text
        GSDP21_22.append(Title)
    except NoSuchElementException:
        GSDP21_22.append("-")
print(GSDP21_22)
len(GSDP21_22)

['3,108,022', '2,071,286', '1,974,532', '1,962,725', '1,937,066', '1,363,926', '1,218,193', '1,136,137', '1,133,837', '1,128,907', '932,470', '904,642', '870,665', '670,881', '650,302', '614,227', '412,612', '406,416', '358,863', '272,159', '199,917', '176,269', '82,604', '62,550', '45,635', '44,238', '38,785', '37,557', '36,594', '35,124', '31,913', '27,824', '10,371']

33

In [57]:
Share = [] #scraping the share
title=driver.find_elements(By.XPATH,' //*[@id="table_id"]/tbody/tr/td[5]')
for i in title:
    try:
        Title=i.text
        Share.append(Title)
    except NoSuchElementException:
        Share.append("-")
print(Share)
len(Share)

['13.17%', '8.78%', '8.37%', '8.32%', '8.21%', '5.78%', '5.16%', '4.81%', '4.80%', '4.78%', '3.95%', '3.83%', '3.69%', '2.84%', '2.76%', '2.60%', '1.75%', '1.72%', '1.52%', '1.15%', '0.85%', '0.75%', '0.35%', '0.27%', '0.19%', '0.19%', '0.16%', '0.16%', '0.16%', '0.15%', '0.14%', '0.12%', '0.04%']

33

In [58]:
GDP_billion = [] #scraping the gdp in billions
title=driver.find_elements(By.XPATH,' //*[@id="table_id"]/tbody/tr/td[6]')
for i in title:
    try:
        Title=i.text
        GDP_billion.append(Title)
    except NoSuchElementException:
        GDP_billion.append("-")
print(GDP_billion)
len(GDP_billion)

['414.928', '276.522', '263.605', '262.029', '258.603', '182.087', '162.632', '151.677', '151.370', '150.712', '124.487', '120.772', '116.236', '89.564', '86.817', '82.001', '55.085', '54.258', '47.909', '36.334', '26.689', '23.532', '11.028', '8.351', '6.092', '5.906', '5.178', '5.014', '4.885', '4.689', '4.260', '3.715', '1.385']

33

In [59]:
Statewise_GDP_of_India = pd.DataFrame({'Rank':Rank,'State':State,'GSDP22_23':GSDP22_23,'GSDP21_22':GSDP21_22,'Share':Share,'GDP_billion':GDP_billion})
Statewise_GDP_of_India    # framing the data

   Rank                      State  GSDP22_23  GSDP21_22   Share GDP_billion
0     1                Maharashtra          -  3,108,022  13.17%     414.928
1     2                 Tamil Nadu  2,364,514  2,071,286   8.78%     276.522
2     3              Uttar Pradesh  2,257,575  1,974,532   8.37%     263.605
3     4                  Karnataka  2,241,368  1,962,725   8.32%     262.029
4     5                    Gujarat          -  1,937,066   8.21%     258.603
5     6                West Bengal  1,554,992  1,363,926   5.78%     182.087
6     7                  Rajasthan  1,413,620  1,218,193   5.16%     162.632
7     8             Madhya Pradesh  1,322,821  1,136,137   4.81%     151.677
8     9             Andhra Pradesh  1,317,728  1,133,837   4.80%     151.370
9    10                  Telangana  1,313,391  1,128,907   4.78%     150.712
10   11                     Kerala          -    932,470   3.95%     124.487
11   12                      Delhi  1,043,759    904,642   3.83%     120.772
12   13                    Haryana    994,154    870,665   3.69%     116.236
13   14                     Odisha    774,869    670,881   2.84%      89.564
14   15                      Bihar    751,396    650,302   2.76%      86.817
15   16                     Punjab    673,107    614,227   2.60%      82.001
16   17                      Assam    493,167    412,612   1.75%      55.085
17   18               Chhattisgarh    457,608    406,416   1.72%      54.258
18   19                  Jharkhand    393,722    358,863   1.52%      47.909
19   20                Uttarakhand    302,621    272,159   1.15%      36.334
20   21         Jammu & Kashmir-UT    227,927    199,917   0.85%      26.689
21   22           Himachal Pradesh    195,405    176,269   0.75%      23.532
22   23                        Goa          -     82,604   0.35%      11.028
23   24                    Tripura     72,636     62,550   0.27%       8.351
24   25                 Chandigarh          -     45,635   0.19%       6.092
25   26                 Puducherry          -     44,238   0.19%       5.906
26   27                  Meghalaya     42,697     38,785   0.16%       5.178
27   28                     Sikkim     42,756     37,557   0.16%       5.014
28   29                    Manipur          -     36,594   0.16%       4.885
29   30          Arunachal Pradesh          -     35,124   0.15%       4.689
30   31                   Nagaland          -     31,913   0.14%       4.260
31   32                    Mizoram          -     27,824   0.12%       3.715
32   33  Andaman & Nicobar Islands          -     10,371   0.04%       1.385

In [60]:
driver.close() # Close the browser

# 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [88]:
driver=webdriver.Chrome()
driver.get("https://github.com/")  # connecting to webdriver and opening the url

In [89]:
trending_rep= driver.find_element(By.XPATH,'//*[@id="feed-item-0"]/div/div/div[1]/header/a')
urls = trending_rep.get_attribute("href")
driver.get(urls)

In [90]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used =[]

In [133]:
Rep_URL=[]
url=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
for i in url:
    Rep_URL.append(i.get_attribute('href'))
print(Rep_URL)
len(Rep_URL)

['https://github.com/OpenDevin/OpenDevin', 'https://github.com/microsoft/generative-ai-for-beginners', 'https://github.com/jasonppy/VoiceCraft', 'https://github.com/developersdigest/llm-answer-engine', 'https://github.com/heyform/heyform', 'https://github.com/microsoft/ML-For-Beginners', 'https://github.com/wandb/openui', 'https://github.com/Zejun-Yang/AniPortrait', 'https://github.com/valkey-io/valkey', 'https://github.com/janhq/jan', 'https://github.com/helix-editor/helix', 'https://github.com/bannedbook/fanqiang', 'https://github.com/google/comprehensive-rust', 'https://github.com/adrianhajdin/zoom-clone', 'https://github.com/doocs/source-code-hunter', 'https://github.com/DioxusLabs/dioxus', 'https://github.com/2dust/v2rayN', 'https://github.com/ReVanced/revanced-patches', 'https://github.com/MsLolita/grass', 'https://github.com/TencentARC/BrushNet', 'https://github.com/iv-org/invidious', 'https://github.com/tiangolo/typer', 'https://github.com/codecrafters-io/build-your-own-x', 'https://github.com/LizardByte/Sunshine', 'https://github.com/sympy/sympy']

25

In [134]:
Repository_title=[]
title=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in title:
    try:
        Title=i.text
        Repository_title.append(Title)
    except NoSuchElementException:
        Repository_title.append("-")
print(Repository_title)
len(Repository_title)

['OpenDevin /', 'microsoft /', 'jasonppy /', 'developersdigest /', 'heyform /', 'microsoft /', 'wandb /', 'Zejun-Yang /', 'valkey-io /', 'janhq /', 'helix-editor /', 'bannedbook /', 'google /', 'adrianhajdin /', 'doocs /', 'DioxusLabs /', '2dust /', 'ReVanced /', 'MsLolita /', 'TencentARC /', 'iv-org /', 'tiangolo /', 'codecrafters-io /', 'LizardByte /', 'sympy /']

25

In [135]:
Repository_description=[]
for i in Rep_URL:
    driver.get(i)
    try:
        Name=driver.find_elements(By.XPATH,'//p[@class="f4 my-3"]')
        for delivery in Name:
            title = delivery.text
            Repository_description.append(title)
    except NoSuchElementException:
        Repository_description.append("-")
        time.sleep(3)
        
print(Repository_description)
len(Repository_description)

['🐚 OpenDevin: Code Less, Make More', '18 Lessons, Get Started Building with Generative AI 🔗 https://microsoft.github.io/generative-ai-for-beginners/', 'Zero-Shot Speech Editing and Text-to-Speech in the Wild', 'Build a Perplexity-Inspired Answer Engine Using Next.js, Groq, Mixtral, Langchain, OpenAI, Brave & Serper', 'HeyForm is an open-source form builder that allows anyone to create engaging conversational forms for surveys, questionnaires, quizzes, and polls. No coding skills required.', '12 weeks, 26 lessons, 52 quizzes, classic Machine Learning for all', "OpenUI let's you describe UI using your imagination, then see it rendered live.", 'AniPortrait: Audio-Driven Synthesis of Photorealistic Portrait Animation', "A new project to resume development on the formerly open-source Redis project. We're calling it Valkey, since it's a twist on the key-value datastore.", 'Jan is an open source alternative to ChatGPT that runs 100% offline on your computer', 'A post-modern modal text editor.', '翻墙-科学上网', 'This is the Rust course used by the Android team at Google. It provides you the material to quickly teach Rust.', 'Learn to develop a professional enterprise-ready video conferencing app in hours using Next.js 14, Stream, and Tailwind CSS.', '😱 从源码层面，剖析挖掘互联网行业主流技术的底层实现原理，为广大开发者 “提升技术深度” 提供便利。目前开放 Spring 全家桶，Mybatis、Netty、Dubbo 框架，及 Redis、Tomcat 中间件等', 'Fullstack GUI library for desktop, web, mobile, and more.', 'A GUI client for Windows, support Xray core and v2fly core and others', '🧩 Patches for ReVanced', 'grass-mining', 'The official implementation of paper "BrushNet: A Plug-and-Play Image Inpainting Model with Decomposed Dual-Branch Diffusion"', 'Invidious is an alternative front-end to YouTube', 'Typer, build great CLIs. Easy to code. Based on Python type hints.', 'Master programming by recreating your favorite technologies from scratch.', 'Self-hosted game stream host for Moonlight.', 'A computer algebra system written in pure Python']

25

In [125]:
Contributors_count=[]
for i in Rep_URL:
    driver.get(i)
    try:
        Name=driver.find_element(By.XPATH,'//*[@id="repo-content-pjax-container"]/div/div/div[2]/div[2]/div/div/div/h2/a[contains(text(),"Contributors")]/span')
        title = Name.text
        Contributors_count.append(title)
    except NoSuchElementException:
        Contributors_count.append(" - ")
    time.sleep(3)
        
print(Contributors_count)
len(Contributors_count)

['47', '54', '5', '4', '3', '127', '3', ' - ', '13', '41', '810', '3', '276', '2', '30', '214', '53', '68', '2', '3', '309', '57', '116', '94', '1,197']

25

In [128]:
Language_used =[]
 
for i in Rep_URL:
    driver.get(i)
    L =[]
    try:
        lang=driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
        if lang:
            for j in lang:
                L.append(j.text)
        else:
            L.append('-')
        Language_used.append(L)
    except NoSuchElementException:
        Language_used.append('-') 
print(Language_used)
len(Language_used)

[['Python', 'TypeScript', 'Makefile', 'HTML', 'Dockerfile', 'CSS'], ['Jupyter Notebook', 'Python', 'TypeScript'], ['Jupyter Notebook', 'Python'], ['TypeScript', 'JavaScript', 'CSS', 'Dockerfile'], ['TypeScript', 'SCSS'], ['HTML', 'Jupyter Notebook', 'Python', 'Vue', 'JavaScript', 'Dockerfile'], ['TypeScript', 'Python', 'HTML', 'CSS', 'JavaScript', 'Dockerfile', 'Shell'], ['Python'], ['C', 'Tcl', 'Python', 'Shell', 'Ruby', 'Makefile'], ['TypeScript', 'JavaScript', 'SCSS', 'Dockerfile', 'Makefile', 'Batchfile'], ['Rust', 'Scheme', 'Handlebars', 'Nix', 'CSS', 'Shell'], ['Kotlin', 'JavaScript', 'Shell', 'Python', 'Java', 'HTML'], ['Rust', 'JavaScript', 'Assembly', 'Handlebars', 'Shell', 'C'], ['TypeScript', 'CSS', 'JavaScript'], ['Java'], ['Rust', 'R', 'TypeScript', 'JavaScript', 'HTML', 'RenderScript'], ['C#', 'PowerShell'], ['Kotlin'], ['Python', 'Batchfile'], ['Python'], ['Crystal', 'HTML', 'JavaScript', 'CSS', 'Shell', 'Makefile'], ['Python', 'Shell'], ['-'], ['C++', 'HTML', 'CMake', 'Dockerfile', 'Objective-C++', 'Objective-C'], ['Python', 'XSLT', 'ANTLR', 'Perl', 'JavaScript', 'Shell']]

25

In [136]:
Trending_Repositories=pd.DataFrame({'Repository_title':Repository_title,'Repository_description':Repository_description,'Contributors_count':Contributors_count,'Language_used':Language_used})
Trending_Repositories

,Repository_title,Repository_description,Contributors_count,Language_used
0,OpenDevin /,"🐚 OpenDevin: Code Less, Make More",47,"[Python, TypeScript, Makefile, HTML, Dockerfil..."
1,microsoft /,"18 Lessons, Get Started Building with Generati...",54,"[Jupyter Notebook, Python, TypeScript]"
2,jasonppy /,Zero-Shot Speech Editing and Text-to-Speech in...,5,"[Jupyter Notebook, Python]"
3,developersdigest /,Build a Perplexity-Inspired Answer Engine Usin...,4,"[TypeScript, JavaScript, CSS, Dockerfile]"
4,heyform /,HeyForm is an open-source form builder that al...,3,"[TypeScript, SCSS]"
5,microsoft /,"12 weeks, 26 lessons, 52 quizzes, classic Mach...",127,"[HTML, Jupyter Notebook, Python, Vue, JavaScri..."
6,wandb /,OpenUI let's you describe UI using your imagin...,3,"[TypeScript, Python, HTML, CSS, JavaScript, Do..."
7,Zejun-Yang /,AniPortrait: Audio-Driven Synthesis of Photore...,-,[Python]
8,valkey-io /,A new project to resume development on the for...,13,"[C, Tcl, Python, Shell, Ruby, Makefile]"
9,janhq /,Jan is an open source alternative to ChatGPT t...,41,"[TypeScript, JavaScript, SCSS, Dockerfile, Mak..."
10,helix-editor /,A post-modern modal text editor.,810,"[Rust, Scheme, Handlebars, Nix, CSS, Shell]"
11,bannedbook /,翻墙-科学上网,3,"[Kotlin, JavaScript, Shell, Python, Java, HTML]"
12,google /,This is the Rust course used by the Android te...,276,"[Rust, JavaScript, Assembly, Handlebars, Shell..."
13,adrianhajdin /,Learn to develop a professional enterprise-rea...,2,"[TypeScript, CSS, JavaScript]"
14,doocs /,😱 从源码层面，剖析挖掘互联网行业主流技术的底层实现原理，为广大开发者 “提升技术深度” 提...,30,[Java]
15,DioxusLabs /,"Fullstack GUI library for desktop, web, mobile...",214,"[Rust, R, TypeScript, JavaScript, HTML, Render..."
16,2dust /,"A GUI client for Windows, support Xray core an...",53,"[C#, PowerShell]"
17,ReVanced /,🧩 Patches for ReVanced,68,[Kotlin]
18,MsLolita /,grass-mining,2,"[Python, Batchfile]"
19,TencentARC /,"The official implementation of paper ""BrushNet...",3,[Python]
20,iv-org /,Invidious is an alternative front-end to YouTube,309,"[Crystal, HTML, JavaScript, CSS, Shell, Makefile]"
21,tiangolo /,"Typer, build great CLIs. Easy to code. Based o...",57,"[Python, Shell]"
22,codecrafters-io /,Master programming by recreating your favorite...,116,[-]
23,LizardByte /,Self-hosted game stream host for Moonlight.,94,"[C++, HTML, CMake, Dockerfile, Objective-C++, ..."
24,sympy /,A computer algebra system written in pure Python,"1,197","[Python, XSLT, ANTLR, Perl, JavaScript, Shell]"

# 5. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the
following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [138]:
driver=webdriver.Chrome() # connecting to webdriver
driver.get("https://www.billboard.com/")

In [140]:
# clicking on option button
Billboard_Hot_100=driver.find_element(By.XPATH,'//a[@class="c-link  lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-dark"]').click()

In [141]:
# creating empty lists
Song_Name = []
Artist_Name =[]
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [149]:
Song_Name = []
title=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/h3')
for i in title:
    try:
        Title=i.text
        Song_Name.append(Title)
    except NoSuchElementException:
        Song_Name.append("-")
print(Song_Name)
len(Song_Name)

['Lose Control', 'Beautiful Things', "We Can't Be Friends (Wait For Your Love)", 'Lovin On Me', 'Carnival', "Texas Hold 'Em", 'I Remember Everything', 'Greedy', 'Enough (Miami)', 'Cruel Summer', 'End Of Beginning', 'Stick Season', 'Agora Hills', 'Snooze', 'Never Lose Me', 'Last Night', 'Saturn', 'Fast Car', 'Act II: Date @ 8', 'Water', "Thinkin' Bout Me", 'Redrum', 'Get It Sexyy', 'Whatever She Wants', 'Made For Me', 'Feather', 'Truck Bed', 'Man Made A Bar', 'Houdini', 'Selfish', "Is It Over Now? (Taylor's Version) [From The Vault]", 'Paint The Town Red', 'What Was I Made For?', 'The Boy Is Mine', 'Yeah Glo!', 'Yes, And?', 'Wild Ones', 'Save Me', 'Pretty Little Poison', 'Supernatural', 'Where The Wild Things Are', 'Burn It Down', 'Exes', 'La Diabla', '23', 'Vampire', 'FE!N', 'Wildflowers And Wild Horses', 'Eternal Sunshine', 'Get In With Me', 'Everybody', 'Bye', 'Soak City', 'Prada Dem', "Mamaw's House", 'Scared To Start', 'Surround Sound', 'One Of The Girls', 'Austin', 'Bandit', 'Training Season', 'Praise Jah In The Moonlight', 'I Can Feel It', 'Breathe', 'FRI(END)S', 'True Story', 'Where It Ends', "Don't Wanna Break Up Again", 'You Broke My Heart', 'Mmhmm', 'FTCU', 'Imperfect For You', 'Sensational', 'Tu Name', 'One Call', 'Deeper Well', 'La Victima', 'Spin You Around (1/24)', 'Intro (End Of The World)', 'Home', 'Tucson Too Late', 'Harley Quinn', 'Back Then Right Now', 'Perro Negro', 'I Wish I Hated You', 'Murder On The Dancefloor', 'Coal', "Let's Go", 'Nee-nah', 'Bellakeo', 'Like What (Freestyle)', 'Outskirts', 'Mr Pot Scraper', 'Holy Smokes', 'Baby Please', 'We Ride', 'Tourniquet', 'Gata Only', 'Igual Que Un Angel', "We Don't Fight Anymore"]

100

In [150]:
Artist_Name = []
title=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[1]/span')
for i in title:
    try:
        Title=i.text
        Artist_Name.append(Title)
    except NoSuchElementException:
        Artist_Name.append("-")
print(Artist_Name)
len(Artist_Name)

['Teddy Swims', 'Benson Boone', 'Ariana Grande', 'Jack Harlow', '¥$: Ye & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti', 'Beyonce', 'Zach Bryan Featuring Kacey Musgraves', 'Tate McRae', 'Cardi B', 'Taylor Swift', 'Djo', 'Noah Kahan', 'Doja Cat', 'SZA', 'Flo Milli', 'Morgan Wallen', 'SZA', 'Luke Combs', '4Batz Featuring Drake', 'Tyla', 'Morgan Wallen', '21 Savage', 'Sexyy Red', 'Bryson Tiller', 'Muni Long', 'Sabrina Carpenter', 'HARDY', 'Morgan Wallen Featuring Eric Church', 'Dua Lipa', 'Justin Timberlake', 'Taylor Swift', 'Doja Cat', 'Billie Eilish', 'Ariana Grande', 'GloRilla', 'Ariana Grande', 'Jessie Murph & Jelly Roll', 'Jelly Roll With Lainey Wilson', 'Warren Zeiders', 'Ariana Grande', 'Luke Combs', 'Parker McCollum', 'Tate McRae', 'Xavi', 'Chayce Beckham', 'Olivia Rodrigo', 'Travis Scott Featuring Playboi Carti', 'Lainey Wilson', 'Ariana Grande', 'BossMan Dlow', 'Nicki Minaj Featuring Lil Uzi Vert', 'Ariana Grande', '310babii', 'Gunna Featuring Offset', 'Thomas Rhett Featuring Morgan Wallen', 'Michael Marcagi', 'JID Featuring 21 Savage & Baby Tate', 'The Weeknd, Jennie & Lily Rose Depp', 'Dasha', 'Don Toliver', 'Dua Lipa', 'YG Marley', 'Kane Brown', 'Yeat', 'V', 'Ariana Grande', 'Bailey Zimmerman', 'Ariana Grande', 'Drake', 'BigXthaPlug', 'Nicki Minaj', 'Ariana Grande', 'Chris Brown Featuring Davido & Lojay', 'Fuerza Regida', 'Rich Amiri', 'Kacey Musgraves', 'Xavi', 'Morgan Wallen', 'Ariana Grande', 'Good Neighbours', 'Jordan Davis', 'Fuerza Regida & Marshmello', 'Tyler Hubbard', 'Bad Bunny & Feid', 'Ariana Grande', 'Sophie Ellis-Bextor', 'Dylan Gossett', 'Key Glock', '21 Savage, Travis Scott & Metro Boomin', 'Peso Pluma & Anitta', 'Cardi B', 'Sam Hunt', 'BossMan Dlow', 'Bailey Zimmerman', 'Ivan Cornejo', 'Bryan Martin', 'Zach Bryan', 'FloyyMenor X Cris Mj', 'Kali Uchis & Peso Pluma', 'Carly Pearce Featuring Chris Stapleton']

100

In [151]:
Last_week_rank = []
title=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]/span')
for i in title:
    try:
        Title=i.text
        Last_week_rank.append(Title)
    except NoSuchElementException:
        Last_week_rank.append("-")
print(Last_week_rank)
len(Last_week_rank)

['2', '3', '1', '5', '4', '6', '9', '8', '-', '13', '21', '15', '12', '11', '34', '18', '14', '20', '7', '19', '26', '22', '-', '24', '29', '33', '36', '51', '31', '40', '27', '32', '35', '16', '41', '10', '43', '45', '42', '17', '46', '53', '47', '44', '52', '48', '50', '56', '23', '63', '59', '25', '62', '-', '58', '67', '61', '64', '74', '78', '68', '57', '54', '65', '-', '30', '73', '28', '66', '80', '71', '37', '72', '75', '70', '-', '76', '77', '38', '83', '92', '81', '96', '82', '39', '69', '90', '89', '85', '86', '84', '98', '-', '87', '-', '-', '97', '-', '94', '-']

100

In [152]:
Peak_rank  = []
title=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]/span')
for i in title:
    try:
        Title=i.text
        Peak_rank .append(Title)
    except NoSuchElementException:
        Peak_rank .append("-")
print(Peak_rank )
len(Peak_rank )

['1', '2', '1', '1', '1', '1', '1', '3', '9', '1', '11', '10', '7', '2', '15', '1', '6', '2', '7', '7', '7', '5', '23', '19', '20', '26', '27', '15', '11', '19', '1', '1', '14', '16', '35', '1', '35', '19', '19', '17', '26', '42', '34', '20', '45', '1', '5', '48', '23', '49', '24', '25', '53', '54', '55', '56', '40', '51', '59', '38', '27', '34', '50', '42', '65', '30', '32', '28', '11', '65', '15', '37', '71', '66', '60', '76', '46', '24', '38', '77', '81', '40', '83', '20', '39', '51', '73', '88', '10', '53', '38', '92', '93', '54', '95', '96', '20', '98', '22', '67']

100

In [153]:
Weeks_on_board  = []
title=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]/span')
for i in title:
    try:
        Title=i.text
        Weeks_on_board .append(Title)
    except NoSuchElementException:
        Weeks_on_board .append("-")
print(Weeks_on_board )
len(Weeks_on_board )

['32', '9', '2', '19', '6', '6', '30', '27', '1', '46', '5', '25', '26', '66', '14', '60', '4', '52', '11', '25', '55', '10', '1', '5', '10', '16', '40', '26', '19', '8', '21', '33', '35', '2', '6', '10', '24', '37', '28', '2', '18', '22', '18', '14', '12', '35', '21', '8', '2', '7', '15', '2', '14', '1', '12', '5', '19', '13', '2', '7', '5', '8', '12', '5', '1', '2', '12', '2', '18', '13', '15', '2', '7', '5', '8', '1', '14', '8', '2', '7', '3', '20', '2', '20', '2', '12', '11', '4', '10', '14', '3', '2', '1', '4', '1', '1', '12', '1', '10', '11']

100

In [154]:
Top_100_Songs=pd.DataFrame({'Song_Name':Song_Name,'Artist_Name':Artist_Name,'Last_week_rank':Last_week_rank,'Peak_rank':Peak_rank,'Weeks_on_board':Weeks_on_board})      
Top_100_Songs

,Song_Name,Artist_Name,Last_week_rank,Peak_rank,Weeks_on_board
0,Lose Control,Teddy Swims,2,1,32
1,Beautiful Things,Benson Boone,3,2,9
2,We Can't Be Friends (Wait For Your Love),Ariana Grande,1,1,2
3,Lovin On Me,Jack Harlow,5,1,19
4,Carnival,¥$: Ye & Ty Dolla $ign Featuring Rich The Kid ...,4,1,6
...,...,...,...,...,...
95,We Ride,Bryan Martin,-,96,1
96,Tourniquet,Zach Bryan,97,20,12
97,Gata Only,FloyyMenor X Cris Mj,-,98,1
98,Igual Que Un Angel,Kali Uchis & Peso Pluma,94,22,10
99,We Don't Fight Anymore,Carly Pearce Featuring Chris Stapleton,-,67,11

# 6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
 Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [156]:
driver=webdriver.Chrome() # connecting to the web driver
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [157]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

In [158]:
Book_name= [] 
title=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in title:
    try:
        Title=i.text
        Book_name.append(Title)
    except NoSuchElementException:
        Book_name.append("-")
print(Book_name)
len(Book_name)

['Da Vinci Code,The', 'Harry Potter and the Deathly Hallows', "Harry Potter and the Philosopher's Stone", 'Harry Potter and the Order of the Phoenix', 'Fifty Shades of Grey', 'Harry Potter and the Goblet of Fire', 'Harry Potter and the Chamber of Secrets', 'Harry Potter and the Prisoner of Azkaban', 'Angels and Demons', "Harry Potter and the Half-blood Prince:Children's Edition", 'Fifty Shades Darker', 'Twilight', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Fifty Shades Freed', 'Lost Symbol,The', 'New Moon', 'Deception Point', 'Eclipse', 'Lovely Bones,The', 'Curious Incident of the Dog in the Night-time,The', 'Digital Fortress', 'Short History of Nearly Everything,A', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Breaking Dawn', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Gruffalo,The', "Jamie's 30-Minute Meals", 'Kite Runner,The', 'One Day', 'Thousand Splendid Suns,A', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", "Time Traveler's Wife,The", 'Atonement', "Bridget Jones's Diary:A Novel", 'World According to Clarkson,The', "Captain Corelli's Mandolin", 'Sound of Laughter,The', 'Life of Pi', 'Billy Connolly', 'Child Called It,A', "Gruffalo's Child,The", "Angela's Ashes:A Memoir of a Childhood", 'Birdsong', 'Northern Lights:His Dark Materials S.', 'Labyrinth', 'Harry Potter and the Half-blood Prince', 'Help,The', 'Man and Boy', 'Memoirs of a Geisha', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'Island,The', 'PS, I Love You', 'You are What You Eat:The Plan That Will Change Your Life', 'Shadow of the Wind,The', 'Tales of Beedle the Bard,The', 'Broker,The', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Subtle Knife,The:His Dark Materials S.', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', "Delia's How to Cook:(Bk.1)", 'Chocolat', 'Boy in the Striped Pyjamas,The', "My Sister's Keeper", 'Amber Spyglass,The:His Dark Materials S.', 'To Kill a Mockingbird', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Dear Fatty', 'Short History of Tractors in Ukrainian,A', 'Hannibal', 'Lord of the Rings,The', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Interpretation of Murder,The', 'Sharon Osbourne Extreme:My Autobiography', 'Alchemist,The:A Fable About Following Your Dream', "At My Mother's Knee ...:and Other Low Joints", 'Notes from a Small Island', 'Return of the Naked Chef,The', 'Bridget Jones: The Edge of Reason', "Jamie's Italy", 'I Can Make You Thin', 'Down Under', 'Summons,The', 'Small Island', 'Nigella Express', 'Brick Lane', "Memory Keeper's Daughter,The", 'Room on the Broom', 'About a Boy', 'My Booky Wook', 'God Delusion,The', '"Beano" Annual,The', 'White Teeth', 'House at Riverton,The', 'Book Thief,The', 'Nights of Rain and Stars', 'Ghost,The', 'Happy Days with the Naked Chef', 'Hunger Games,The:Hunger Games Trilogy', "Lost Boy,The:A Foster Child's Search for the Love of a Family", "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

100

In [159]:
Author_name= [] 
title=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in title:
    try:
        Title=i.text
        Author_name.append(Title)
    except NoSuchElementException:
        Author_name.append("-")
print(Author_name)
len(Author_name)

['Brown, Dan', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'James, E. L.', 'Rowling, J.K.', 'Rowling, J.K.', 'Rowling, J.K.', 'Brown, Dan', 'Rowling, J.K.', 'James, E. L.', 'Meyer, Stephenie', 'Larsson, Stieg', 'James, E. L.', 'Brown, Dan', 'Meyer, Stephenie', 'Brown, Dan', 'Meyer, Stephenie', 'Sebold, Alice', 'Haddon, Mark', 'Brown, Dan', 'Bryson, Bill', 'Larsson, Stieg', 'Meyer, Stephenie', 'Carle, Eric', 'Donaldson, Julia', 'Oliver, Jamie', 'Hosseini, Khaled', 'Nicholls, David', 'Hosseini, Khaled', 'Larsson, Stieg', 'Niffenegger, Audrey', 'McEwan, Ian', 'Fielding, Helen', 'Clarkson, Jeremy', 'Bernieres, Louis de', 'Kay, Peter', 'Martel, Yann', 'Stephenson, Pamela', 'Pelzer, Dave', 'Donaldson, Julia', 'McCourt, Frank', 'Faulks, Sebastian', 'Pullman, Philip', 'Mosse, Kate', 'Rowling, J.K.', 'Stockett, Kathryn', 'Parsons, Tony', 'Golden, Arthur', 'McCall Smith, Alexander', 'Hislop, Victoria', 'Ahern, Cecelia', 'McKeith, Gillian', 'Zafon, Carlos Ruiz', 'Rowling, J.K.', 'Grisham, John', 'Atkins, Robert C.', 'Pullman, Philip', 'Truss, Lynne', 'Smith, Delia', 'Harris, Joanne', 'Boyne, John', 'Picoult, Jodi', 'Pullman, Philip', 'Lee, Harper', 'Gray, John', 'French, Dawn', 'Lewycka, Marina', 'Harris, Thomas', 'Tolkien, J. R. R.', 'Moore, Michael', 'Rubenfeld, Jed', 'Osbourne, Sharon', 'Coelho, Paulo', "O'Grady, Paul", 'Bryson, Bill', 'Oliver, Jamie', 'Fielding, Helen', 'Oliver, Jamie', 'McKenna, Paul', 'Bryson, Bill', 'Grisham, John', 'Levy, Andrea', 'Lawson, Nigella', 'Ali, Monica', 'Edwards, Kim', 'Donaldson, Julia', 'Hornby, Nick', 'Brand, Russell', 'Dawkins, Richard', '0', 'Smith, Zadie', 'Morton, Kate', 'Zusak, Markus', 'Binchy, Maeve', 'Harris, Robert', 'Oliver, Jamie', 'Collins, Suzanne', 'Pelzer, Dave', 'Oliver, Jamie']

100

In [160]:
Volumes_sold= [] 
title=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in title:
    try:
        Title=i.text
        Volumes_sold.append(Title)
    except NoSuchElementException:
        Volumes_sold.append("-")
print(Volumes_sold)
len(Volumes_sold)

['5,094,805', '4,475,152', '4,200,654', '4,179,479', '3,758,936', '3,583,215', '3,484,047', '3,377,906', '3,193,946', '2,950,264', '2,479,784', '2,315,405', '2,233,570', '2,193,928', '2,183,031', '2,152,737', '2,062,145', '2,052,876', '2,005,598', '1,979,552', '1,928,900', '1,852,919', '1,814,784', '1,787,118', '1,783,535', '1,781,269', '1,743,266', '1,629,119', '1,616,068', '1,583,992', '1,555,135', '1,546,886', '1,539,428', '1,508,205', '1,489,403', '1,352,318', '1,310,207', '1,310,176', '1,231,957', '1,217,712', '1,208,711', '1,204,058', '1,184,967', '1,181,503', '1,181,093', '1,153,181', '1,132,336', '1,130,802', '1,126,337', '1,115,549', '1,108,328', '1,107,379', '1,104,403', '1,092,349', '1,090,847', '1,087,262', '1,054,196', '1,037,160', '1,023,688', '1,015,956', '1,009,873', '1,004,414', '1,003,780', '1,002,314', '998,213', '992,846', '986,753', '986,115', '970,509', '967,466', '963,353', '962,515', '959,496', '956,114', '945,640', '931,312', '925,425', '924,695', '906,968', '905,086', '890,847', '869,671', '869,659', '862,602', '856,540', '845,858', '842,535', '828,215', '820,563', '816,907', '816,585', '815,586', '814,370', '809,641', '808,900', '807,311', '794,201', '792,187', '791,507', '791,095']

100

In [161]:
Publisher= [] 
title=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in title:
    try:
        Title=i.text
        Publisher.append(Title)
    except NoSuchElementException:
        Publisher.append("-")
print(Publisher)
len(Publisher)

['Transworld', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Random House', 'Bloomsbury', 'Bloomsbury', 'Bloomsbury', 'Transworld', 'Bloomsbury', 'Random House', 'Little, Brown Book', 'Quercus', 'Random House', 'Transworld', 'Little, Brown Book', 'Transworld', 'Little, Brown Book', 'Pan Macmillan', 'Random House', 'Transworld', 'Transworld', 'Quercus', 'Little, Brown Book', 'Penguin', 'Pan Macmillan', 'Penguin', 'Bloomsbury', 'Hodder & Stoughton', 'Bloomsbury', 'Quercus', 'Random House', 'Random House', 'Pan Macmillan', 'Penguin', 'Random House', 'Random House', 'Canongate', 'HarperCollins', 'Orion', 'Pan Macmillan', 'HarperCollins', 'Random House', 'Scholastic Ltd.', 'Orion', 'Bloomsbury', 'Penguin', 'HarperCollins', 'Random House', 'Little, Brown Book', 'Headline', 'HarperCollins', 'Penguin', 'Orion', 'Bloomsbury', 'Random House', 'Random House', 'Scholastic Ltd.', 'Profile Books Group', 'Random House', 'Transworld', 'Random House Childrens Books G', 'Hodder & Stoughton', 'Scholastic Ltd.', 'Random House', 'HarperCollins', 'Random House', 'Penguin', 'Random House', 'HarperCollins', 'Penguin', 'Headline', 'Little, Brown Book', 'HarperCollins', 'Transworld', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Transworld', 'Transworld', 'Random House', 'Headline', 'Random House', 'Transworld', 'Penguin', 'Pan Macmillan', 'Penguin', 'Hodder & Stoughton', 'Transworld', 'D.C. Thomson', 'Penguin', 'Pan Macmillan', 'Transworld', 'Orion', 'Random House', 'Penguin', 'Scholastic Ltd.', 'Orion', 'Penguin']

100

In [162]:
Genre= [] 
title=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[]')
for i in title:
    try:
        Title=i.text
        Genre.append(Title)
    except NoSuchElementException:
        Genre.append("-")
print(Genre)
len(Genre)

['Crime, Thriller & Adventure', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Romance & Sagas', "Children's Fiction", "Children's Fiction", "Children's Fiction", 'Crime, Thriller & Adventure', "Children's Fiction", 'Romance & Sagas', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Romance & Sagas', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Popular Science', 'Crime, Thriller & Adventure', 'Young Adult Fiction', 'Picture Books', 'Picture Books', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Humour: Collections & General', 'General & Literary Fiction', 'Autobiography: General', 'General & Literary Fiction', 'Biography: The Arts', 'Autobiography: General', 'Picture Books', 'Autobiography: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Science Fiction & Fantasy', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'General & Literary Fiction', 'Fitness & Diet', 'General & Literary Fiction', "Children's Fiction", 'Crime, Thriller & Adventure', 'Fitness & Diet', 'Young Adult Fiction', 'Usage & Writing Guides', 'Food & Drink: General', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Young Adult Fiction', 'General & Literary Fiction', 'Popular Culture & Media: General Interest', 'Autobiography: The Arts', 'General & Literary Fiction', 'Crime, Thriller & Adventure', 'Science Fiction & Fantasy', 'Current Affairs & Issues', 'Crime, Thriller & Adventure', 'Autobiography: The Arts', 'General & Literary Fiction', 'Autobiography: The Arts', 'Travel Writing', 'Food & Drink: General', 'General & Literary Fiction', 'National & Regional Cuisine', 'Fitness & Diet', 'Travel Writing', 'Crime, Thriller & Adventure', 'General & Literary Fiction', 'Food & Drink: General', 'General & Literary Fiction', 'General & Literary Fiction', 'Picture Books', 'General & Literary Fiction', 'Autobiography: The Arts', 'Popular Science', "Children's Annuals", 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'General & Literary Fiction', 'Food & Drink: General', 'Young Adult Fiction', 'Biography: General', 'Food & Drink: General']

100

In [165]:
Best_selling_books=pd.DataFrame({'Book_name':Book_name,'Author_name':Author_name,'Volumes_sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
Best_selling_books

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You
have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
 Note: - from the home page you have to go to the Show All Dataset page through code.

In [170]:
driver=webdriver.Chrome()   # connecting to the web driver
driver.get("https://archive.ics.uci.edu/")

In [173]:
# Clicking on VIEW DATASETS link
dataset=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
dataset.click()
time.sleep(1)

In [193]:
URL=[]
url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in url:
    URL.append(i.get_attribute('href'))
print(URL)
len(URL)

['https://archive.ics.uci.edu/dataset/53/iris', 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset', 'https://archive.ics.uci.edu/dataset/45/heart+disease', 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik', 'https://archive.ics.uci.edu/dataset/2/adult', 'https://archive.ics.uci.edu/dataset/850/raisin', 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic', 'https://archive.ics.uci.edu/dataset/109/wine', 'https://archive.ics.uci.edu/dataset/186/wine+quality', 'https://archive.ics.uci.edu/dataset/34/diabetes']

10

In [176]:
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []

In [194]:
Dataset_name = []
for i in URL:
    driver.get(i)
    try:
        Name=driver.find_elements(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        for div in Name:
            title = div.text
            Dataset_name.append(title)
    except NoSuchElementException:
        Dataset_name.append(" - ")
    time.sleep(3)
        
print(Dataset_name)
len(Dataset_name)

['Iris', 'Dry Bean', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine', 'Wine Quality', 'Diabetes']

10

In [197]:
Data_type=[] 
price=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span ')
for i in price:
    try:
        Title=i.text
        Data_type.append(Title)
    except NoSuchElementException:
        Data_type.append("-")
   
       
print(Data_type)
len(Data_type)

['Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate, Time-Series']

10

In [198]:
Task=[] 
price=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span ')
for i in price:
    try:
        Title=i.text
        Task.append(Title)
    except NoSuchElementException:
        Task.append("-")
    
       
print(Task)
len(Task)

['Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification']

10

In [203]:
Attribute_type = []
for i in URL:
    driver.get(i)
    try:
        Name=driver.find_elements(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[4]/p')
        for div in Name:
            title = div.text
            Attribute_type.append(title)
    except NoSuchElementException:
        Attribute_type.append(" - ")
    time.sleep(2)
        
print(Attribute_type)
len(Attribute_type)

['Real', 'Integer, Real', 'Categorical, Integer, Real', 'Real', 'Categorical, Integer', 'Real, Integer', 'Real', 'Integer, Real', 'Real', 'Categorical, Integer']

10

In [200]:
No_of_instances=[] 
price=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span ')
for i in price:
    try:
        Title=i.text
        No_of_instances.append(Title)
    except NoSuchElementException:
        No_of_instances.append("-")
    
       
print(No_of_instances)
len(No_of_instances)

['150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '569 Instances', '178 Instances', '4.9K Instances', '1 Instances']

10

In [201]:
No_of_attributes=[] 
price=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span ')
for i in price:
    try:
        Title=i.text
        No_of_attributes.append(Title)
    except NoSuchElementException:
        No_of_attributes.append("-")
    
       
print(No_of_attributes)
len(No_of_attributes)

['4 Features', '16 Features', '13 Features', '7 Features', '14 Features', '8 Features', '30 Features', '13 Features', '12 Features', '20 Features']

10

In [205]:
Datasets_from_UCI=pd.DataFrame({'Dataset_name':Dataset_name,'Data_type':Data_type,'Task':Task,'Attribute_type':Attribute_type,'No_of_instances':No_of_instances,'No_of_attributes':No_of_attributes})
Datasets_from_UCI

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attributes
0,Iris,Tabular,Classification,Real,150 Instances,4 Features
1,Dry Bean,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,7 Features
4,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features
5,Raisin,Multivariate,Classification,"Real, Integer",900 Instances,8 Features
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features
7,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features
8,Wine Quality,Multivariate,"Classification, Regression",Real,4.9K Instances,12 Features
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1 Instances,20 Features

In [ ]:
z